<div style="font-size: 1rem; color: #111; text-align: center; font-family: 'Oswald', monospace, sans-serif; height: 30px;">

  <p>Meet the Artists</p>

</div>


<!-- <div style= "font-size: 2rem; color: $primary_t2; text-align: center; font-family: Oswald, monospace, sans-serif; height: 30px; padding-top: 25px; padding-bottom: 40px;">

    {{ .page.Content }}
  </div>

<a class="carousel-control-prev" href="#slider2" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  <span class="sr-only">Previous</span>
</a> -->  