@font-face {
  font-family: "trcd";
  src: url("/fonts/typewcond_regular-webfont.woff2");
}

@font-face {
  font-family: "mtr";
  src: url("/fonts/moms_typewriter-webfont.woff2");
}

.navbar-light .navbar-toggler {
  color: #34495E; 
  border-color: #0000;
}

.navbar-light .navbar-brand {
  font-family: trcd, Oswald sans-serif !important;
  font-size: 1em;
  font-weight: 500;
  color: #8d99a6;
}

.navbar-brand {
  margin: 0 auto;
  font-family: trcd, Oswald sans-serif !important;
  font-size: 1em;
  color:#8d99a6;
  display: flex;
}

.navbar-brand:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: all 0.8s ease-in;
}

.navbar .navbar-nav .nav-link {
  font-family: trcd, Oswald sans-serif !important;
  color: #8d99a6;
  animation: glow 1s ease-in-out infinite alternate;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-family: trcd, Oswald sans-serif !important;
  font-size: 1.5rem;
}

.nav-link:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: all 0.8s ease-in;
}

#navbar-main .main-menu-item ul li .nav-link {
  color: #8d99a6;
  margin-left: 10%;
  font-family: trcd, Oswald sans-serif !important;
  font-size: 1.2rem;
  padding-top: 0;
}

.navbar .navbar-nav .nav-link.active {
    font-family: trcd, Oswald, sans-serif !important;
    color: #f43135 !important;
}

.justify-content-start {
  
  font-size: 1.2rem;
}

/*------------------------------------
- COLOR primary
------------------------------------*/

$primary_t1: #607990;
$primary_t2: #4b5f71;
$primary_t3: #bbc7d2;
$primary_t4: #cbd4dc;
$primary_t5: #2f3b46;
$primary_t6: #455768;
$primary_t7: #51677a;
$primary_t8: #1a2127;
$primary_t9: #d7dee4;

$primary_shadow: rgba(96, 121, 144, 0.5);
$primary_text_color_dark_bright: #151515;

.alert-primary {
  color: $primary_t5;
  background-color: $primary_t9;
  border-color: $primary_t4;
}

.alert-primary hr {
  border-top-color: $primary_t3;
}

.alert-primary .alert-link {
  color: $primary_t8;
}

.badge-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
}

.bg-primary {
  background-color: $primary_t1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary_t2 !important; 
}

.border-primary {
  border-color: $primary_t1 !important;
}

.btn-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t7;
  border-color: $primary_t2;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
  color: $primary_t1;
  background-color: transparent;
  border-color: $primary_t1;
}

.btn-outline-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: #f43135 !important;
}

.btn-outline-primary:hover {
  color: #151515;
  background-color: #607990;
  border-color: #607990;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary_t1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
  color: $primary_t5;
  background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: $primary_t5;
  background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t5;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $primary_t4;
}

.table-hover .table-primary:hover {
  background-color: $primary_t3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: $primary_t3;
}

.text-primary {
  color: $primary_t1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: $primary_t2 !important;
}

    
a {
  font-family: trcd, sans-serif;
  color: $primary_t5;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: $primary_t5;
    text-decoration: underline; }

.dark a,
.dark h3.article-title a:hover {
  color: primary_t3; }

.dark a:hover,
.dark a:focus {
  color: primary_t3; }

a,
h3.article-title a:hover {
  color: $primary_t5;
  text-decoration: none;
  transition: color 0.6s ease; }

a:hover,
a:focus {
  color: $primary_t5; }

.dark a,
.dark h3.article-title a:hover {
  color: primary_t3; }

.dark a:hover,
.dark a:focus {
  color: primary_t3; }

btn btn-primary btn-lg active {
  color: primary_t5 !important;
  background-color: #151515 !important;
}

@media (min-width: 576px) {
.hero-title {
    font-family: 'mtr', 'Special Elite', sans-serif;
    color: #dee2e6 !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
    margin-top: 10%;
    line-height: 1.3;
}}

@media (min-width: 992px) {
.hero-title {
  font-family: 'mtr', 'Special Elite', sans-serif;
  color: #dee2e6 !important;
  font-weight: 400 !important;
  font-size: 3rem !important;
  margin-top: 10%;
  line-height: 1.3;
}}

.svg-icon {
  height: auto;
  width: 90%;
  padding-top: 10%;
  }

@media all and (max-width: 500px) {
.hero-lead {
  justify-content: center;
  align-items: center;
  text-align: center;  
  font-size: small;
  font-family: 'mtr', 'Special Elite', sans-serif;
  width: 50vw;
}}

@media (min-width: 576px) {
.hero-lead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: 'mtr', 'Special Elite', sans-serif;
}}

@media (min-width: 992px) {
.hero-lead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: 'mtr', 'Special Elite', sans-serif;
}}

.wg-hero.dark .btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Courier New';
  padding-right: 10px;
  height: 50vh;
  width: 50vw;
}

.wg-hero .btn-lg, .wg-hero .btn-group-lg>.btn {
  font-size: 1rem;
}

.wg-hero .btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Courier New';
  padding-right: 10px;
  height: 50vh;
  width: 50vw;
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: #313d4f !important; }

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: #6079909a !important; }

.home-section {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 0 10px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.my-widget {
  height: 3000px;
  }
    
  /* animation ************************************/
      /* pulse ************************************/

  .element {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  i.fas.fa-eye {
  width: 100%;
  height: 100%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: #a04747;
  }
  50% {
    color: #aaaaaa;
  }
  100% {
    color: #111111;
  }
}

.fancybox-toolbar {
    right: 10px;
    top: 50px;
    width: 300px;           
}

#mapid { height: 180px; }

/*************************************************
 *  People widget
 *************************************************/


.people-widget .portrait-title h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

#people_artists.home-section.wg-people {
  height: 100%;
  margin: 40px 0 80px;
  background-color: #f7f7f7;
  font-size: 1.8em; }

#people_aufstrebend.home-section.wg-people {
  height: 100%;
  margin: 40px 0 80px;
  background-color: #f7f7f7;
  font-size: 1.8em; }

.people-widget .avatar {
    width: 80%;
    max-width: 150px;
    height: auto;
}

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 60%; } }

@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 30%; } }

h2.mb-4 {
  display: none;
} 

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*************************************************
 *  Contact
 ************************************************/
.contact-widget .fa-ul {
  margin-left: 3.14285714rem;
  font-family: trcd !important;
  /* Must be > `fa-2x` icon size. */ }

.contact-widget .fa-li {
  position: absolute;
  left: -3.14285714rem;
  /* Negative of `.contact-widget .fa-ul` margin. */
  width: 2rem;
  /* Match `fa-2x` icon size. */
  top: 0.14285714em;
  /* Default FA value. */
  text-align: center; }

.contact-widget li {
  padding-top: 0.8rem;
  /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem; }

.contact-widget li:last-of-type {
  margin-bottom: 0; }

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: trcd;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ced4da;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transform: scale(10%);
}

.btn {
  display: inline-block;
  font-family: trcd;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #0000;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.parallax {
    background-size: 70%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    animation-name: fade-in;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)
}

@media screen and (min-width: 400px) {
  .parallax {
    background-size: 30%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    animation-name: fade-in;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)
}}

@media screen and (min-width: 1000px) {
  .parallax {
    background-size: 20%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    animation-name: fade-in;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)
}}

.home-section:first-of-type {
   background-color: #f7f7f7; }

.dark .home-section {
  background-color: #d3d3d3; }

.dark .home-section:nth-of-type(even) {
  background-color: #969696; }

@media screen and (max-width: 768px) {
  .home-section {
    height: 100vh;
    padding: 60px 0 60px 0; }
 }

.section-heading h1 {
  margin: 0 0 10px 0; }

.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'mtr', 'Special Elite', sans-serif;
}
  /* Ensure long words do not overflow into content. */

  #person-telephone {
    font-size: medium;
  }

  #person-address {
    font-size: medium;
  }

  #contact {
    font-family: trcd;
  }

#landing2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-svg2 {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url(hero.svg);
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: center;  
  animation-name: fade-in;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes fade-in {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    width: auto;
    height: -moz-available;
    height: -webkit-fill-available;
    height: -webkit-stretch;
    height: stretch;
    max-height: 1.6em;
    max-width: fit-content;
  }}

#meettheartists {
  height: 10%;
  text-align: center;
  font-family: 'mtr', 'Special Elite', sans-serif;
  font-size: large;
  line-height: 50px;
  letter-spacing: 0.35em;
  margin-top: 80px;
  margin-bottom: 0;
}

#aufstrebend {  
  height: 10%;
  text-align: center;
  font-family: 'mtr', 'Special Elite', sans-serif;
  font-size: large;
  line-height: 50px;
  letter-spacing: 0.35em;
  margin-top: 80px;}

#fotografie {  
  height: 10%;
  text-align: center;
  font-family: 'mtr', 'Special Elite', sans-serif;
  font-size: large;
  line-height: 50px;
  letter-spacing: 0.35em;
  margin-top: 80px;}

#contact_header {  
    text-align: center;
    font-family: 'mtr', 'Special Elite', sans-serif;
    font-size: large;
    line-height: 50px;
    letter-spacing: 0.35em;
    margin-top: 80px;}    
    
    
    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1860px 659px #151515 , 1879px 386px #151515 , 1147px 1802px #151515 , 1788px 607px #151515 , 551px 1385px #151515 , 974px 1057px #151515 , 990px 1883px #151515 , 1561px 466px #151515 , 1726px 1222px #151515 , 1752px 1086px #151515 , 1935px 691px #151515 , 777px 1371px #151515 , 49px 239px #151515 , 761px 157px #151515 , 1104px 1324px #151515 , 320px 701px #151515 , 1151px 756px #151515 , 198px 1165px #151515 , 795px 162px #151515 , 1030px 706px #151515 , 1593px 1693px #151515 , 1622px 1992px #151515 , 967px 655px #151515 , 1425px 1327px #151515 , 432px 430px #151515 , 1155px 1782px #151515 , 424px 1922px #151515 , 1083px 1114px #151515 , 1016px 1470px #151515 , 828px 1349px #151515 , 1945px 859px #151515 , 1881px 722px #151515 , 703px 1789px #151515 , 1291px 130px #151515 , 1296px 533px #151515 , 636px 1894px #151515 , 1117px 384px #151515 , 589px 1999px #151515 , 1397px 938px #151515 , 926px 950px #151515 , 124px 1481px #151515 , 1258px 1280px #151515 , 317px 1235px #151515 , 202px 1123px #151515 , 1709px 1690px #151515 , 902px 1533px #151515 , 1477px 1451px #151515 , 1355px 708px #151515 , 595px 519px #151515 , 1929px 1004px #151515 , 294px 1882px #151515 , 1044px 517px #151515 , 793px 1142px #151515 , 290px 1002px #151515 , 423px 1263px #151515 , 1118px 1766px #151515 , 618px 1752px #151515 , 513px 687px #151515 , 444px 1250px #151515 , 1155px 397px #151515 , 1208px 1507px #151515 , 1686px 1214px #151515 , 892px 1886px #151515 , 1593px 1524px #151515 , 1343px 721px #151515 , 1893px 1164px #151515 , 1095px 708px #151515 , 885px 163px #151515 , 1430px 323px #151515 , 1401px 850px #151515 , 1504px 942px #151515 , 122px 166px #151515 , 1206px 1377px #151515 , 598px 669px #151515 , 499px 1432px #151515 , 106px 1487px #151515 , 1135px 1148px #151515 , 874px 167px #151515 , 1449px 1265px #151515 , 400px 1368px #151515 , 302px 1302px #151515 , 1479px 1437px #151515 , 389px 17px #151515 , 112px 1227px #151515 , 1233px 1162px #151515 , 1853px 233px #151515 , 193px 1615px #151515 , 340px 299px #151515 , 588px 217px #151515 , 1712px 360px #151515 , 1549px 745px #151515 , 1991px 662px #151515 , 1652px 515px #151515 , 1128px 881px #151515 , 800px 302px #151515 , 1471px 584px #151515 , 127px 1997px #151515 , 1363px 381px #151515 , 964px 943px #151515 , 1755px 992px #151515 , 1740px 1148px #151515 , 1956px 546px #151515 , 1129px 527px #151515 , 1307px 90px #151515 , 1489px 1191px #151515 , 981px 1598px #151515 , 1316px 1315px #151515 , 1553px 1903px #151515 , 272px 392px #151515 , 732px 708px #151515 , 596px 960px #151515 , 1801px 424px #151515 , 1766px 700px #151515 , 103px 998px #151515 , 967px 308px #151515 , 1441px 1208px #151515 , 1226px 1795px #151515 , 816px 1836px #151515 , 639px 1384px #151515 , 1077px 677px #151515 , 181px 494px #151515 , 1249px 225px #151515 , 1796px 1435px #151515 , 480px 994px #151515 , 143px 1828px #151515 , 284px 944px #151515 , 372px 1883px #151515 , 999px 215px #151515 , 650px 1683px #151515 , 1604px 1903px #151515 , 1638px 1836px #151515 , 347px 641px #151515 , 315px 1863px #151515 , 44px 1907px #151515 , 884px 198px #151515 , 137px 1773px #151515 , 1238px 1165px #151515 , 1563px 1612px #151515 , 136px 890px #151515 , 835px 1773px #151515 , 421px 410px #151515 , 961px 1761px #151515 , 1972px 1967px #151515 , 821px 1466px #151515 , 969px 1735px #151515 , 1541px 1674px #151515 , 617px 1695px #151515 , 317px 78px #151515 , 1162px 482px #151515 , 112px 133px #151515 , 674px 1618px #151515 , 1593px 1788px #151515 , 1532px 858px #151515 , 744px 1095px #151515 , 646px 153px #151515 , 310px 444px #151515 , 286px 966px #151515 , 120px 1947px #151515 , 465px 502px #151515 , 338px 1147px #151515 , 1190px 1693px #151515 , 508px 276px #151515 , 1751px 642px #151515 , 1921px 1257px #151515 , 747px 227px #151515 , 578px 1462px #151515 , 1253px 1632px #151515 , 246px 1068px #151515 , 1701px 915px #151515 , 446px 686px #151515 , 846px 1516px #151515 , 1416px 66px #151515 , 643px 1082px #151515 , 1056px 1958px #151515 , 707px 941px #151515 , 358px 281px #151515 , 1543px 1788px #151515 , 983px 92px #151515 , 798px 1310px #151515 , 1121px 155px #151515 , 339px 1201px #151515 , 1770px 8px #151515 , 127px 1906px #151515 , 1985px 384px #151515 , 1406px 1536px #151515 , 574px 429px #151515 , 887px 1988px #151515 , 1384px 1857px #151515 , 863px 669px #151515 , 1472px 185px #151515 , 1691px 54px #151515 , 1855px 1605px #151515 , 124px 812px #151515 , 1531px 7px #151515 , 1057px 1758px #151515 , 530px 444px #151515 , 955px 41px #151515 , 907px 1302px #151515 , 1123px 389px #151515 , 1367px 1125px #151515 , 1547px 1046px #151515 , 557px 759px #151515 , 18px 851px #151515 , 857px 1918px #151515 , 801px 300px #151515 , 205px 570px #151515 , 894px 949px #151515 , 911px 1160px #151515 , 1977px 1348px #151515 , 524px 1761px #151515 , 273px 109px #151515 , 118px 1664px #151515 , 697px 1982px #151515 , 1721px 376px #151515 , 233px 766px #151515 , 1475px 100px #151515 , 1656px 618px #151515 , 1917px 259px #151515 , 177px 1054px #151515 , 356px 1418px #151515 , 999px 1006px #151515 , 1758px 1703px #151515 , 1267px 1501px #151515 , 1713px 663px #151515 , 209px 23px #151515 , 1062px 1072px #151515 , 511px 1602px #151515 , 1064px 828px #151515 , 1426px 1697px #151515 , 1012px 548px #151515 , 648px 86px #151515 , 369px 1048px #151515 , 855px 1507px #151515 , 156px 94px #151515 , 1321px 1544px #151515 , 1822px 342px #151515 , 1937px 158px #151515 , 1584px 436px #151515 , 98px 760px #151515 , 354px 78px #151515 , 1853px 1667px #151515 , 1534px 1731px #151515 , 684px 1926px #151515 , 1654px 1968px #151515 , 1657px 775px #151515 , 1074px 9px #151515 , 1244px 303px #151515 , 6px 1712px #151515 , 1027px 649px #151515 , 519px 1027px #151515 , 615px 329px #151515 , 869px 765px #151515 , 564px 1300px #151515 , 726px 938px #151515 , 627px 824px #151515 , 884px 1126px #151515 , 721px 935px #151515 , 1937px 342px #151515 , 755px 1914px #151515 , 1970px 1646px #151515 , 24px 1873px #151515 , 1205px 820px #151515 , 121px 31px #151515 , 594px 1723px #151515 , 689px 1834px #151515 , 299px 1180px #151515 , 1170px 131px #151515 , 1476px 1238px #151515 , 1035px 1379px #151515 , 1808px 1343px #151515 , 808px 1584px #151515 , 1176px 50px #151515 , 279px 1029px #151515 , 426px 1762px #151515 , 1601px 1105px #151515 , 1306px 1086px #151515 , 783px 1763px #151515 , 1811px 391px #151515 , 186px 1646px #151515 , 790px 695px #151515 , 747px 1952px #151515 , 527px 828px #151515 , 570px 573px #151515 , 1308px 266px #151515 , 500px 651px #151515 , 325px 674px #151515 , 1485px 1953px #151515 , 414px 1218px #151515 , 1679px 79px #151515 , 127px 37px #151515 , 204px 1599px #151515 , 1693px 1559px #151515 , 1049px 1766px #151515 , 902px 1224px #151515 , 678px 1180px #151515 , 1315px 113px #151515 , 1531px 1748px #151515 , 360px 46px #151515 , 235px 2000px #151515 , 1292px 1344px #151515 , 1833px 1756px #151515 , 1133px 519px #151515 , 544px 68px #151515 , 1315px 907px #151515 , 63px 1899px #151515 , 1455px 976px #151515 , 1674px 255px #151515 , 210px 363px #151515 , 1121px 73px #151515 , 1143px 83px #151515 , 723px 694px #151515 , 1962px 1961px #151515 , 442px 727px #151515 , 1110px 1394px #151515 , 212px 1936px #151515 , 1555px 746px #151515 , 1618px 1709px #151515 , 693px 1086px #151515 , 125px 1799px #151515 , 1445px 1579px #151515 , 1075px 1245px #151515 , 1981px 486px #151515 , 1477px 1440px #151515 , 1906px 678px #151515 , 1779px 1905px #151515 , 367px 1650px #151515 , 849px 1274px #151515 , 1189px 1876px #151515 , 977px 607px #151515 , 1052px 431px #151515 , 1237px 869px #151515 , 172px 806px #151515 , 1466px 1340px #151515 , 638px 737px #151515 , 5px 1176px #151515 , 1164px 1239px #151515 , 1112px 229px #151515 , 550px 1753px #151515 , 826px 850px #151515 , 367px 964px #151515 , 986px 1820px #151515 , 1450px 125px #151515 , 1191px 813px #151515 , 531px 985px #151515 , 1926px 730px #151515 , 951px 877px #151515 , 322px 1082px #151515 , 1001px 663px #151515 , 1336px 393px #151515 , 1849px 277px #151515 , 1361px 1041px #151515 , 516px 961px #151515 , 834px 1448px #151515 , 1554px 1783px #151515 , 812px 1520px #151515 , 875px 506px #151515 , 1866px 1216px #151515 , 1024px 962px #151515 , 14px 882px #151515 , 946px 31px #151515 , 593px 1863px #151515 , 424px 22px #151515 , 1842px 1819px #151515 , 1828px 1422px #151515 , 1837px 264px #151515 , 1207px 660px #151515 , 282px 731px #151515 , 870px 168px #151515 , 1678px 974px #151515 , 528px 396px #151515 , 1416px 1876px #151515 , 966px 1780px #151515 , 656px 45px #151515 , 1692px 162px #151515 , 127px 1219px #151515 , 1259px 1145px #151515 , 1516px 323px #151515 , 494px 1780px #151515 , 603px 957px #151515 , 1951px 1436px #151515 , 712px 476px #151515 , 1455px 461px #151515 , 1815px 790px #151515 , 1587px 643px #151515 , 1270px 1487px #151515 , 1572px 16px #151515 , 1900px 1261px #151515 , 197px 528px #151515 , 1217px 1942px #151515 , 1138px 1386px #151515 , 1378px 793px #151515 , 95px 1712px #151515 , 992px 100px #151515 , 400px 1384px #151515 , 733px 1837px #151515 , 1355px 1317px #151515 , 928px 1693px #151515 , 117px 303px #151515 , 149px 1477px #151515 , 335px 982px #151515 , 1384px 1273px #151515 , 1133px 1030px #151515 , 1922px 241px #151515 , 1675px 1208px #151515 , 1026px 1133px #151515 , 669px 451px #151515 , 1155px 1871px #151515 , 83px 571px #151515 , 1952px 1945px #151515 , 1069px 561px #151515 , 651px 48px #151515 , 643px 1670px #151515 , 1971px 1569px #151515 , 1117px 1824px #151515 , 1458px 1932px #151515 , 1690px 231px #151515 , 955px 15px #151515 , 1665px 1871px #151515 , 1430px 1708px #151515 , 1320px 1552px #151515 , 771px 1636px #151515 , 335px 1585px #151515 , 680px 713px #151515 , 619px 154px #151515 , 1290px 496px #151515 , 1818px 1753px #151515 , 1443px 259px #151515 , 813px 443px #151515 , 1947px 1461px #151515 , 1602px 1083px #151515 , 15px 1764px #151515 , 191px 549px #151515 , 722px 1953px #151515 , 1605px 1083px #151515 , 1247px 98px #151515 , 115px 770px #151515 , 1668px 1101px #151515 , 814px 1222px #151515 , 1093px 1328px #151515 , 1060px 158px #151515 , 1754px 1201px #151515 , 1625px 1018px #151515 , 314px 23px #151515 , 81px 1149px #151515 , 1908px 1985px #151515 , 1027px 1286px #151515 , 615px 1777px #151515 , 27px 1249px #151515 , 508px 40px #151515 , 503px 179px #151515 , 1645px 1914px #151515 , 1034px 1260px #151515 , 1260px 1014px #151515 , 542px 1790px #151515 , 1407px 322px #151515 , 1398px 621px #151515 , 284px 336px #151515 , 740px 874px #151515 , 1801px 963px #151515 , 1002px 1416px #151515 , 1271px 1679px #151515 , 1962px 1343px #151515 , 262px 873px #151515 , 328px 912px #151515 , 399px 85px #151515 , 700px 308px #151515 , 1335px 896px #151515 , 1698px 516px #151515 , 675px 1745px #151515 , 314px 1288px #151515 , 1182px 1774px #151515 , 1807px 89px #151515 , 852px 587px #151515 , 1433px 184px #151515 , 1448px 573px #151515 , 1514px 1422px #151515 , 1025px 370px #151515 , 1044px 875px #151515 , 538px 1058px #151515 , 431px 1815px #151515 , 1005px 419px #151515 , 1369px 1484px #151515 , 1230px 1680px #151515 , 1432px 1972px #151515 , 1789px 1561px #151515 , 528px 267px #151515 , 48px 86px #151515 , 1715px 1325px #151515 , 252px 1168px #151515 , 1226px 276px #151515 , 306px 1301px #151515 , 432px 1694px #151515 , 1070px 1818px #151515 , 96px 180px #151515 , 1565px 442px #151515 , 571px 382px #151515 , 1181px 1657px #151515 , 542px 328px #151515 , 540px 216px #151515 , 1271px 208px #151515 , 383px 1191px #151515 , 212px 659px #151515 , 347px 380px #151515 , 935px 982px #151515 , 1565px 627px #151515 , 877px 344px #151515 , 1428px 1621px #151515 , 1183px 1642px #151515 , 1628px 1748px #151515 , 1557px 641px #151515 , 1518px 138px #151515 , 36px 88px #151515 , 1423px 1861px #151515 , 39px 1551px #151515 , 1598px 1483px #151515 , 1457px 1118px #151515 , 432px 1498px #151515 , 1383px 467px #151515 , 36px 9px #151515 , 1531px 305px #151515 , 194px 1727px #151515 , 1046px 225px #151515 , 1334px 1124px #151515 , 67px 1346px #151515 , 918px 1619px #151515 , 1692px 1036px #151515 , 1759px 1718px #151515 , 722px 865px #151515 , 688px 1753px #151515 , 17px 1470px #151515 , 139px 1407px #151515 , 1000px 1477px #151515 , 1333px 1706px #151515 , 317px 693px #151515 , 157px 828px #151515 , 1135px 830px #151515 , 382px 985px #151515 , 1852px 1349px #151515 , 386px 278px #151515 , 274px 1202px #151515 , 227px 1403px #151515 , 1783px 569px #151515 , 569px 1074px #151515 , 553px 571px #151515 , 1166px 907px #151515 , 196px 1957px #151515 , 367px 898px #151515 , 1580px 205px #151515 , 789px 1696px #151515 , 288px 1506px #151515 , 401px 1660px #151515 , 684px 815px #151515 , 835px 722px #151515 , 516px 381px #151515 , 483px 1989px #151515 , 508px 335px #151515 , 1423px 389px #151515 , 399px 323px #151515 , 1167px 1465px #151515 , 1324px 20px #151515 , 728px 889px #151515 , 487px 1546px #151515 , 101px 860px #151515 , 208px 1495px #151515 , 898px 1477px #151515 , 750px 232px #151515 , 291px 927px #151515 , 1232px 1105px #151515 , 207px 338px #151515 , 1846px 1264px #151515 , 1877px 1002px #151515 , 1428px 578px #151515 , 67px 1859px #151515 , 1630px 1286px #151515 , 1760px 743px #151515 , 1101px 1341px #151515 , 747px 229px #151515 , 1016px 499px #151515 , 1325px 1395px #151515 , 1692px 1647px #151515 , 1628px 434px #151515 , 1745px 1174px #151515 , 690px 248px #151515 , 1877px 1739px #151515 , 1769px 884px #151515 , 1479px 375px #151515 , 929px 916px #151515 , 919px 615px #151515 , 1549px 480px #151515 , 1516px 694px #151515 , 1096px 1297px #151515 , 1606px 1747px #151515 , 1670px 790px #151515 , 1412px 1668px #151515 , 285px 422px #151515 , 893px 1068px #151515 , 1993px 1416px #151515 , 1421px 8px #151515 , 1991px 487px #151515 , 541px 1527px #151515 , 944px 889px #151515 , 1819px 87px #151515 , 1967px 1571px #151515 , 1427px 1942px #151515 , 1248px 289px #151515 , 1117px 1874px #151515 , 823px 1740px #151515 , 1679px 1216px #151515 , 734px 228px #151515 , 1908px 1795px #151515 , 498px 485px #151515 , 1680px 1952px #151515 , 1585px 1372px #151515 , 68px 1357px #151515 , 796px 279px #151515 , 727px 1544px #151515 , 269px 1133px #151515 , 1854px 1727px #151515 , 1843px 530px #151515 , 1719px 1932px #151515 , 46px 1070px #151515 , 396px 657px #151515 , 374px 1136px #151515 , 1336px 1418px #151515 , 273px 499px #151515 , 1836px 838px #151515 , 1567px 328px #151515 , 263px 1881px #151515 , 1846px 1044px #151515 , 303px 1599px #151515 , 1335px 585px #151515 , 1030px 1141px #151515 , 1793px 1337px #151515 , 483px 206px #151515 , 765px 1462px #151515 , 1664px 1126px #151515 , 542px 1406px #151515 , 1712px 1009px #151515 , 1098px 878px #151515 , 1995px 1386px #151515 , 743px 40px #151515 , 1060px 1959px #151515 , 1536px 166px #151515 , 1955px 1136px #151515 , 1318px 142px #151515 , 1208px 1798px #151515 , 1915px 215px #151515 , 1504px 29px #151515 , 281px 1502px #151515 , 1862px 341px #151515 , 50px 1555px #151515 , 1892px 426px #151515 , 1912px 247px #151515 , 669px 1550px #151515 , 989px 1866px #151515 , 581px 1967px #151515 , 1659px 1004px #151515 , 558px 896px #151515 , 907px 1317px #151515 , 277px 1912px #151515 , 511px 802px #151515 , 1092px 481px #151515 , 1174px 1676px #151515 , 1404px 735px #151515 , 262px 107px #151515 , 681px 1223px #151515 , 1373px 1418px #151515 , 1295px 517px #151515 , 85px 1512px #151515 , 1644px 479px #151515 , 1677px 1607px #151515 , 938px 1828px #151515 , 625px 229px #151515 , 1347px 1659px #151515 , 194px 59px #151515 , 1861px 336px #151515 , 597px 809px #151515 , 1828px 552px #151515 , 865px 1673px #151515 , 1492px 325px #151515 , 297px 1651px #151515 , 7px 1158px #151515 , 1756px 701px #151515 , 295px 866px #151515 , 1966px 51px #151515 , 918px 342px #151515 , 547px 1250px #151515 , 1260px 1584px #151515 , 1763px 1816px #151515 , 936px 372px #151515 , 220px 1743px #151515 , 785px 1850px #151515 , 1701px 716px #151515 , 1161px 1833px #151515 , 1930px 1352px #151515 , 518px 1705px #151515 , 1619px 1504px #151515 , 1707px 1355px #151515 , 330px 1905px #151515 , 1419px 205px #151515;
      animation: animStar 50s linear infinite;
    }
        
    #stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1860px 659px #151515 , 1879px 386px #151515 , 1147px 1802px #151515 , 1788px 607px #151515 , 551px 1385px #151515 , 974px 1057px #151515 , 990px 1883px #151515 , 1561px 466px #151515 , 1726px 1222px #151515 , 1752px 1086px #151515 , 1935px 691px #151515 , 777px 1371px #151515 , 49px 239px #151515 , 761px 157px #151515 , 1104px 1324px #151515 , 320px 701px #151515 , 1151px 756px #151515 , 198px 1165px #151515 , 795px 162px #151515 , 1030px 706px #151515 , 1593px 1693px #151515 , 1622px 1992px #151515 , 967px 655px #151515 , 1425px 1327px #151515 , 432px 430px #151515 , 1155px 1782px #151515 , 424px 1922px #151515 , 1083px 1114px #151515 , 1016px 1470px #151515 , 828px 1349px #151515 , 1945px 859px #151515 , 1881px 722px #151515 , 703px 1789px #151515 , 1291px 130px #151515 , 1296px 533px #151515 , 636px 1894px #151515 , 1117px 384px #151515 , 589px 1999px #151515 , 1397px 938px #151515 , 926px 950px #151515 , 124px 1481px #151515 , 1258px 1280px #151515 , 317px 1235px #151515 , 202px 1123px #151515 , 1709px 1690px #151515 , 902px 1533px #151515 , 1477px 1451px #151515 , 1355px 708px #151515 , 595px 519px #151515 , 1929px 1004px #151515 , 294px 1882px #151515 , 1044px 517px #151515 , 793px 1142px #151515 , 290px 1002px #151515 , 423px 1263px #151515 , 1118px 1766px #151515 , 618px 1752px #151515 , 513px 687px #151515 , 444px 1250px #151515 , 1155px 397px #151515 , 1208px 1507px #151515 , 1686px 1214px #151515 , 892px 1886px #151515 , 1593px 1524px #151515 , 1343px 721px #151515 , 1893px 1164px #151515 , 1095px 708px #151515 , 885px 163px #151515 , 1430px 323px #151515 , 1401px 850px #151515 , 1504px 942px #151515 , 122px 166px #151515 , 1206px 1377px #151515 , 598px 669px #151515 , 499px 1432px #151515 , 106px 1487px #151515 , 1135px 1148px #151515 , 874px 167px #151515 , 1449px 1265px #151515 , 400px 1368px #151515 , 302px 1302px #151515 , 1479px 1437px #151515 , 389px 17px #151515 , 112px 1227px #151515 , 1233px 1162px #151515 , 1853px 233px #151515 , 193px 1615px #151515 , 340px 299px #151515 , 588px 217px #151515 , 1712px 360px #151515 , 1549px 745px #151515 , 1991px 662px #151515 , 1652px 515px #151515 , 1128px 881px #151515 , 800px 302px #151515 , 1471px 584px #151515 , 127px 1997px #151515 , 1363px 381px #151515 , 964px 943px #151515 , 1755px 992px #151515 , 1740px 1148px #151515 , 1956px 546px #151515 , 1129px 527px #151515 , 1307px 90px #151515 , 1489px 1191px #151515 , 981px 1598px #151515 , 1316px 1315px #151515 , 1553px 1903px #151515 , 272px 392px #151515 , 732px 708px #151515 , 596px 960px #151515 , 1801px 424px #151515 , 1766px 700px #151515 , 103px 998px #151515 , 967px 308px #151515 , 1441px 1208px #151515 , 1226px 1795px #151515 , 816px 1836px #151515 , 639px 1384px #151515 , 1077px 677px #151515 , 181px 494px #151515 , 1249px 225px #151515 , 1796px 1435px #151515 , 480px 994px #151515 , 143px 1828px #151515 , 284px 944px #151515 , 372px 1883px #151515 , 999px 215px #151515 , 650px 1683px #151515 , 1604px 1903px #151515 , 1638px 1836px #151515 , 347px 641px #151515 , 315px 1863px #151515 , 44px 1907px #151515 , 884px 198px #151515 , 137px 1773px #151515 , 1238px 1165px #151515 , 1563px 1612px #151515 , 136px 890px #151515 , 835px 1773px #151515 , 421px 410px #151515 , 961px 1761px #151515 , 1972px 1967px #151515 , 821px 1466px #151515 , 969px 1735px #151515 , 1541px 1674px #151515 , 617px 1695px #151515 , 317px 78px #151515 , 1162px 482px #151515 , 112px 133px #151515 , 674px 1618px #151515 , 1593px 1788px #151515 , 1532px 858px #151515 , 744px 1095px #151515 , 646px 153px #151515 , 310px 444px #151515 , 286px 966px #151515 , 120px 1947px #151515 , 465px 502px #151515 , 338px 1147px #151515 , 1190px 1693px #151515 , 508px 276px #151515 , 1751px 642px #151515 , 1921px 1257px #151515 , 747px 227px #151515 , 578px 1462px #151515 , 1253px 1632px #151515 , 246px 1068px #151515 , 1701px 915px #151515 , 446px 686px #151515 , 846px 1516px #151515 , 1416px 66px #151515 , 643px 1082px #151515 , 1056px 1958px #151515 , 707px 941px #151515 , 358px 281px #151515 , 1543px 1788px #151515 , 983px 92px #151515 , 798px 1310px #151515 , 1121px 155px #151515 , 339px 1201px #151515 , 1770px 8px #151515 , 127px 1906px #151515 , 1985px 384px #151515 , 1406px 1536px #151515 , 574px 429px #151515 , 887px 1988px #151515 , 1384px 1857px #151515 , 863px 669px #151515 , 1472px 185px #151515 , 1691px 54px #151515 , 1855px 1605px #151515 , 124px 812px #151515 , 1531px 7px #151515 , 1057px 1758px #151515 , 530px 444px #151515 , 955px 41px #151515 , 907px 1302px #151515 , 1123px 389px #151515 , 1367px 1125px #151515 , 1547px 1046px #151515 , 557px 759px #151515 , 18px 851px #151515 , 857px 1918px #151515 , 801px 300px #151515 , 205px 570px #151515 , 894px 949px #151515 , 911px 1160px #151515 , 1977px 1348px #151515 , 524px 1761px #151515 , 273px 109px #151515 , 118px 1664px #151515 , 697px 1982px #151515 , 1721px 376px #151515 , 233px 766px #151515 , 1475px 100px #151515 , 1656px 618px #151515 , 1917px 259px #151515 , 177px 1054px #151515 , 356px 1418px #151515 , 999px 1006px #151515 , 1758px 1703px #151515 , 1267px 1501px #151515 , 1713px 663px #151515 , 209px 23px #151515 , 1062px 1072px #151515 , 511px 1602px #151515 , 1064px 828px #151515 , 1426px 1697px #151515 , 1012px 548px #151515 , 648px 86px #151515 , 369px 1048px #151515 , 855px 1507px #151515 , 156px 94px #151515 , 1321px 1544px #151515 , 1822px 342px #151515 , 1937px 158px #151515 , 1584px 436px #151515 , 98px 760px #151515 , 354px 78px #151515 , 1853px 1667px #151515 , 1534px 1731px #151515 , 684px 1926px #151515 , 1654px 1968px #151515 , 1657px 775px #151515 , 1074px 9px #151515 , 1244px 303px #151515 , 6px 1712px #151515 , 1027px 649px #151515 , 519px 1027px #151515 , 615px 329px #151515 , 869px 765px #151515 , 564px 1300px #151515 , 726px 938px #151515 , 627px 824px #151515 , 884px 1126px #151515 , 721px 935px #151515 , 1937px 342px #151515 , 755px 1914px #151515 , 1970px 1646px #151515 , 24px 1873px #151515 , 1205px 820px #151515 , 121px 31px #151515 , 594px 1723px #151515 , 689px 1834px #151515 , 299px 1180px #151515 , 1170px 131px #151515 , 1476px 1238px #151515 , 1035px 1379px #151515 , 1808px 1343px #151515 , 808px 1584px #151515 , 1176px 50px #151515 , 279px 1029px #151515 , 426px 1762px #151515 , 1601px 1105px #151515 , 1306px 1086px #151515 , 783px 1763px #151515 , 1811px 391px #151515 , 186px 1646px #151515 , 790px 695px #151515 , 747px 1952px #151515 , 527px 828px #151515 , 570px 573px #151515 , 1308px 266px #151515 , 500px 651px #151515 , 325px 674px #151515 , 1485px 1953px #151515 , 414px 1218px #151515 , 1679px 79px #151515 , 127px 37px #151515 , 204px 1599px #151515 , 1693px 1559px #151515 , 1049px 1766px #151515 , 902px 1224px #151515 , 678px 1180px #151515 , 1315px 113px #151515 , 1531px 1748px #151515 , 360px 46px #151515 , 235px 2000px #151515 , 1292px 1344px #151515 , 1833px 1756px #151515 , 1133px 519px #151515 , 544px 68px #151515 , 1315px 907px #151515 , 63px 1899px #151515 , 1455px 976px #151515 , 1674px 255px #151515 , 210px 363px #151515 , 1121px 73px #151515 , 1143px 83px #151515 , 723px 694px #151515 , 1962px 1961px #151515 , 442px 727px #151515 , 1110px 1394px #151515 , 212px 1936px #151515 , 1555px 746px #151515 , 1618px 1709px #151515 , 693px 1086px #151515 , 125px 1799px #151515 , 1445px 1579px #151515 , 1075px 1245px #151515 , 1981px 486px #151515 , 1477px 1440px #151515 , 1906px 678px #151515 , 1779px 1905px #151515 , 367px 1650px #151515 , 849px 1274px #151515 , 1189px 1876px #151515 , 977px 607px #151515 , 1052px 431px #151515 , 1237px 869px #151515 , 172px 806px #151515 , 1466px 1340px #151515 , 638px 737px #151515 , 5px 1176px #151515 , 1164px 1239px #151515 , 1112px 229px #151515 , 550px 1753px #151515 , 826px 850px #151515 , 367px 964px #151515 , 986px 1820px #151515 , 1450px 125px #151515 , 1191px 813px #151515 , 531px 985px #151515 , 1926px 730px #151515 , 951px 877px #151515 , 322px 1082px #151515 , 1001px 663px #151515 , 1336px 393px #151515 , 1849px 277px #151515 , 1361px 1041px #151515 , 516px 961px #151515 , 834px 1448px #151515 , 1554px 1783px #151515 , 812px 1520px #151515 , 875px 506px #151515 , 1866px 1216px #151515 , 1024px 962px #151515 , 14px 882px #151515 , 946px 31px #151515 , 593px 1863px #151515 , 424px 22px #151515 , 1842px 1819px #151515 , 1828px 1422px #151515 , 1837px 264px #151515 , 1207px 660px #151515 , 282px 731px #151515 , 870px 168px #151515 , 1678px 974px #151515 , 528px 396px #151515 , 1416px 1876px #151515 , 966px 1780px #151515 , 656px 45px #151515 , 1692px 162px #151515 , 127px 1219px #151515 , 1259px 1145px #151515 , 1516px 323px #151515 , 494px 1780px #151515 , 603px 957px #151515 , 1951px 1436px #151515 , 712px 476px #151515 , 1455px 461px #151515 , 1815px 790px #151515 , 1587px 643px #151515 , 1270px 1487px #151515 , 1572px 16px #151515 , 1900px 1261px #151515 , 197px 528px #151515 , 1217px 1942px #151515 , 1138px 1386px #151515 , 1378px 793px #151515 , 95px 1712px #151515 , 992px 100px #151515 , 400px 1384px #151515 , 733px 1837px #151515 , 1355px 1317px #151515 , 928px 1693px #151515 , 117px 303px #151515 , 149px 1477px #151515 , 335px 982px #151515 , 1384px 1273px #151515 , 1133px 1030px #151515 , 1922px 241px #151515 , 1675px 1208px #151515 , 1026px 1133px #151515 , 669px 451px #151515 , 1155px 1871px #151515 , 83px 571px #151515 , 1952px 1945px #151515 , 1069px 561px #151515 , 651px 48px #151515 , 643px 1670px #151515 , 1971px 1569px #151515 , 1117px 1824px #151515 , 1458px 1932px #151515 , 1690px 231px #151515 , 955px 15px #151515 , 1665px 1871px #151515 , 1430px 1708px #151515 , 1320px 1552px #151515 , 771px 1636px #151515 , 335px 1585px #151515 , 680px 713px #151515 , 619px 154px #151515 , 1290px 496px #151515 , 1818px 1753px #151515 , 1443px 259px #151515 , 813px 443px #151515 , 1947px 1461px #151515 , 1602px 1083px #151515 , 15px 1764px #151515 , 191px 549px #151515 , 722px 1953px #151515 , 1605px 1083px #151515 , 1247px 98px #151515 , 115px 770px #151515 , 1668px 1101px #151515 , 814px 1222px #151515 , 1093px 1328px #151515 , 1060px 158px #151515 , 1754px 1201px #151515 , 1625px 1018px #151515 , 314px 23px #151515 , 81px 1149px #151515 , 1908px 1985px #151515 , 1027px 1286px #151515 , 615px 1777px #151515 , 27px 1249px #151515 , 508px 40px #151515 , 503px 179px #151515 , 1645px 1914px #151515 , 1034px 1260px #151515 , 1260px 1014px #151515 , 542px 1790px #151515 , 1407px 322px #151515 , 1398px 621px #151515 , 284px 336px #151515 , 740px 874px #151515 , 1801px 963px #151515 , 1002px 1416px #151515 , 1271px 1679px #151515 , 1962px 1343px #151515 , 262px 873px #151515 , 328px 912px #151515 , 399px 85px #151515 , 700px 308px #151515 , 1335px 896px #151515 , 1698px 516px #151515 , 675px 1745px #151515 , 314px 1288px #151515 , 1182px 1774px #151515 , 1807px 89px #151515 , 852px 587px #151515 , 1433px 184px #151515 , 1448px 573px #151515 , 1514px 1422px #151515 , 1025px 370px #151515 , 1044px 875px #151515 , 538px 1058px #151515 , 431px 1815px #151515 , 1005px 419px #151515 , 1369px 1484px #151515 , 1230px 1680px #151515 , 1432px 1972px #151515 , 1789px 1561px #151515 , 528px 267px #151515 , 48px 86px #151515 , 1715px 1325px #151515 , 252px 1168px #151515 , 1226px 276px #151515 , 306px 1301px #151515 , 432px 1694px #151515 , 1070px 1818px #151515 , 96px 180px #151515 , 1565px 442px #151515 , 571px 382px #151515 , 1181px 1657px #151515 , 542px 328px #151515 , 540px 216px #151515 , 1271px 208px #151515 , 383px 1191px #151515 , 212px 659px #151515 , 347px 380px #151515 , 935px 982px #151515 , 1565px 627px #151515 , 877px 344px #151515 , 1428px 1621px #151515 , 1183px 1642px #151515 , 1628px 1748px #151515 , 1557px 641px #151515 , 1518px 138px #151515 , 36px 88px #151515 , 1423px 1861px #151515 , 39px 1551px #151515 , 1598px 1483px #151515 , 1457px 1118px #151515 , 432px 1498px #151515 , 1383px 467px #151515 , 36px 9px #151515 , 1531px 305px #151515 , 194px 1727px #151515 , 1046px 225px #151515 , 1334px 1124px #151515 , 67px 1346px #151515 , 918px 1619px #151515 , 1692px 1036px #151515 , 1759px 1718px #151515 , 722px 865px #151515 , 688px 1753px #151515 , 17px 1470px #151515 , 139px 1407px #151515 , 1000px 1477px #151515 , 1333px 1706px #151515 , 317px 693px #151515 , 157px 828px #151515 , 1135px 830px #151515 , 382px 985px #151515 , 1852px 1349px #151515 , 386px 278px #151515 , 274px 1202px #151515 , 227px 1403px #151515 , 1783px 569px #151515 , 569px 1074px #151515 , 553px 571px #151515 , 1166px 907px #151515 , 196px 1957px #151515 , 367px 898px #151515 , 1580px 205px #151515 , 789px 1696px #151515 , 288px 1506px #151515 , 401px 1660px #151515 , 684px 815px #151515 , 835px 722px #151515 , 516px 381px #151515 , 483px 1989px #151515 , 508px 335px #151515 , 1423px 389px #151515 , 399px 323px #151515 , 1167px 1465px #151515 , 1324px 20px #151515 , 728px 889px #151515 , 487px 1546px #151515 , 101px 860px #151515 , 208px 1495px #151515 , 898px 1477px #151515 , 750px 232px #151515 , 291px 927px #151515 , 1232px 1105px #151515 , 207px 338px #151515 , 1846px 1264px #151515 , 1877px 1002px #151515 , 1428px 578px #151515 , 67px 1859px #151515 , 1630px 1286px #151515 , 1760px 743px #151515 , 1101px 1341px #151515 , 747px 229px #151515 , 1016px 499px #151515 , 1325px 1395px #151515 , 1692px 1647px #151515 , 1628px 434px #151515 , 1745px 1174px #151515 , 690px 248px #151515 , 1877px 1739px #151515 , 1769px 884px #151515 , 1479px 375px #151515 , 929px 916px #151515 , 919px 615px #151515 , 1549px 480px #151515 , 1516px 694px #151515 , 1096px 1297px #151515 , 1606px 1747px #151515 , 1670px 790px #151515 , 1412px 1668px #151515 , 285px 422px #151515 , 893px 1068px #151515 , 1993px 1416px #151515 , 1421px 8px #151515 , 1991px 487px #151515 , 541px 1527px #151515 , 944px 889px #151515 , 1819px 87px #151515 , 1967px 1571px #151515 , 1427px 1942px #151515 , 1248px 289px #151515 , 1117px 1874px #151515 , 823px 1740px #151515 , 1679px 1216px #151515 , 734px 228px #151515 , 1908px 1795px #151515 , 498px 485px #151515 , 1680px 1952px #151515 , 1585px 1372px #151515 , 68px 1357px #151515 , 796px 279px #151515 , 727px 1544px #151515 , 269px 1133px #151515 , 1854px 1727px #151515 , 1843px 530px #151515 , 1719px 1932px #151515 , 46px 1070px #151515 , 396px 657px #151515 , 374px 1136px #151515 , 1336px 1418px #151515 , 273px 499px #151515 , 1836px 838px #151515 , 1567px 328px #151515 , 263px 1881px #151515 , 1846px 1044px #151515 , 303px 1599px #151515 , 1335px 585px #151515 , 1030px 1141px #151515 , 1793px 1337px #151515 , 483px 206px #151515 , 765px 1462px #151515 , 1664px 1126px #151515 , 542px 1406px #151515 , 1712px 1009px #151515 , 1098px 878px #151515 , 1995px 1386px #151515 , 743px 40px #151515 , 1060px 1959px #151515 , 1536px 166px #151515 , 1955px 1136px #151515 , 1318px 142px #151515 , 1208px 1798px #151515 , 1915px 215px #151515 , 1504px 29px #151515 , 281px 1502px #151515 , 1862px 341px #151515 , 50px 1555px #151515 , 1892px 426px #151515 , 1912px 247px #151515 , 669px 1550px #151515 , 989px 1866px #151515 , 581px 1967px #151515 , 1659px 1004px #151515 , 558px 896px #151515 , 907px 1317px #151515 , 277px 1912px #151515 , 511px 802px #151515 , 1092px 481px #151515 , 1174px 1676px #151515 , 1404px 735px #151515 , 262px 107px #151515 , 681px 1223px #151515 , 1373px 1418px #151515 , 1295px 517px #151515 , 85px 1512px #151515 , 1644px 479px #151515 , 1677px 1607px #151515 , 938px 1828px #151515 , 625px 229px #151515 , 1347px 1659px #151515 , 194px 59px #151515 , 1861px 336px #151515 , 597px 809px #151515 , 1828px 552px #151515 , 865px 1673px #151515 , 1492px 325px #151515 , 297px 1651px #151515 , 7px 1158px #151515 , 1756px 701px #151515 , 295px 866px #151515 , 1966px 51px #151515 , 918px 342px #151515 , 547px 1250px #151515 , 1260px 1584px #151515 , 1763px 1816px #151515 , 936px 372px #151515 , 220px 1743px #151515 , 785px 1850px #151515 , 1701px 716px #151515 , 1161px 1833px #151515 , 1930px 1352px #151515 , 518px 1705px #151515 , 1619px 1504px #151515 , 1707px 1355px #151515 , 330px 1905px #151515 , 1419px 205px #151515;
    }
      
    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 427px 392px #000 , 913px 1105px #000 , 1333px 1810px #000 , 1247px 132px #000 , 532px 1148px #000 , 1715px 1155px #000 , 1470px 792px #000 , 942px 1627px #000 , 1303px 869px #000 , 848px 1836px #000 , 1927px 685px #000 , 1648px 1958px #000 , 1024px 1769px #000 , 1970px 224px #000 , 495px 1551px #000 , 1399px 1799px #000 , 1403px 881px #000 , 1537px 794px #000 , 1368px 747px #000 , 375px 148px #000 , 1775px 212px #000 , 1312px 844px #000 , 797px 99px #000 , 430px 684px #000 , 1524px 890px #000 , 739px 1647px #000 , 1181px 1698px #000 , 1627px 943px #000 , 1149px 1104px #000 , 1637px 1969px #000 , 297px 1873px #000 , 82px 170px #000 , 457px 967px #000 , 9px 1057px #000 , 348px 1959px #000 , 1273px 1670px #000 , 1124px 797px #000 , 153px 648px #000 , 185px 5px #000 , 1064px 1789px #000 , 89px 1111px #000 , 31px 1433px #000 , 990px 287px #000 , 1174px 987px #000 , 1525px 1856px #000 , 1032px 865px #000 , 1461px 530px #000 , 1771px 977px #000 , 1460px 1134px #000 , 1658px 1749px #000 , 1593px 1261px #000 , 602px 1436px #000 , 1037px 1184px #000 , 1979px 1912px #000 , 1990px 1331px #000 , 496px 905px #000 , 276px 1204px #000 , 1759px 1146px #000 , 558px 929px #000 , 627px 636px #000 , 941px 485px #000 , 77px 105px #000 , 30px 1080px #000 , 1875px 1833px #000 , 1420px 790px #000 , 483px 1280px #000 , 1815px 363px #000 , 252px 808px #000 , 1078px 834px #000 , 1176px 1873px #000 , 1416px 123px #000 , 1768px 1159px #000 , 1616px 82px #000 , 25px 43px #000 , 1220px 1351px #000 , 1422px 506px #000 , 460px 1596px #000 , 141px 895px #000 , 1526px 521px #000 , 1265px 1150px #000 , 257px 1280px #000 , 679px 1750px #000 , 1435px 231px #000 , 1247px 1032px #000 , 752px 1853px #000 , 828px 1440px #000 , 708px 1810px #000 , 1492px 256px #000 , 1280px 148px #000 , 1658px 1707px #000 , 243px 1183px #000 , 55px 1599px #000 , 461px 635px #000 , 1630px 718px #000 , 1035px 1439px #000 , 452px 278px #000 , 399px 1721px #000 , 435px 1639px #000 , 1252px 1075px #000 , 1237px 1486px #000 , 225px 1865px #000 , 755px 110px #000 , 977px 264px #000 , 429px 1063px #000 , 126px 1479px #000 , 318px 1013px #000 , 57px 430px #000 , 1276px 681px #000 , 592px 638px #000 , 113px 1103px #000 , 1122px 1673px #000 , 1877px 1424px #000 , 727px 119px #000 , 944px 1211px #000 , 507px 1856px #000 , 104px 629px #000 , 1186px 1191px #000 , 1473px 613px #000 , 1902px 1347px #000 , 976px 614px #000 , 1486px 1860px #000 , 1654px 881px #000 , 1728px 1140px #000 , 535px 279px #000 , 1727px 119px #000 , 532px 252px #000 , 1333px 772px #000 , 645px 528px #000 , 435px 259px #000 , 780px 858px #000 , 1261px 1369px #000 , 1199px 207px #000 , 1169px 999px #000 , 1634px 38px #000 , 526px 1523px #000 , 1634px 1316px #000 , 1811px 504px #000 , 606px 338px #000 , 1931px 1105px #000 , 1647px 1622px #000 , 734px 1833px #000 , 868px 733px #000 , 1596px 1832px #000 , 773px 738px #000 , 1919px 508px #000 , 1505px 367px #000 , 271px 479px #000 , 58px 1644px #000 , 332px 713px #000 , 65px 1144px #000 , 1804px 765px #000 , 1959px 613px #000 , 1178px 1120px #000 , 1110px 1477px #000 , 871px 1660px #000 , 660px 374px #000 , 1209px 1490px #000 , 234px 751px #000 , 1544px 869px #000 , 1956px 1987px #000 , 1097px 1546px #000 , 1619px 1856px #000 , 1296px 1980px #000 , 1999px 720px #000 , 1081px 1438px #000 , 1467px 815px #000 , 330px 686px #000 , 730px 261px #000 , 461px 1850px #000 , 1195px 1389px #000 , 887px 1936px #000 , 568px 48px #000 , 454px 620px #000 , 885px 1902px #000 , 16px 1154px #000 , 1716px 1820px #000 , 1075px 1705px #000 , 1703px 1443px #000 , 1633px 1297px #000 , 1111px 710px #000 , 1832px 1076px #000 , 578px 1048px #000 , 1830px 760px #000 , 672px 1938px #000 , 1413px 434px #000 , 1412px 311px #000 , 1486px 1339px #000 , 334px 237px #000 , 1539px 1523px #000 , 470px 1156px #000 , 1257px 1275px #000 , 820px 725px #000 , 64px 1096px #000 , 1133px 679px #000 , 240px 958px #000 , 1360px 344px #000 , 1591px 1083px #000 , 1285px 1861px #000 , 638px 473px #000 , 1949px 1424px #000;
      animation: animStar 100s linear infinite;
    }
        
    #stars2:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 427px 392px #000 , 913px 1105px #000 , 1333px 1810px #000 , 1247px 132px #000 , 532px 1148px #000 , 1715px 1155px #000 , 1470px 792px #000 , 942px 1627px #000 , 1303px 869px #000 , 848px 1836px #000 , 1927px 685px #000 , 1648px 1958px #000 , 1024px 1769px #000 , 1970px 224px #000 , 495px 1551px #000 , 1399px 1799px #000 , 1403px 881px #000 , 1537px 794px #000 , 1368px 747px #000 , 375px 148px #000 , 1775px 212px #000 , 1312px 844px #000 , 797px 99px #000 , 430px 684px #000 , 1524px 890px #000 , 739px 1647px #000 , 1181px 1698px #000 , 1627px 943px #000 , 1149px 1104px #000 , 1637px 1969px #000 , 297px 1873px #000 , 82px 170px #000 , 457px 967px #000 , 9px 1057px #000 , 348px 1959px #000 , 1273px 1670px #000 , 1124px 797px #000 , 153px 648px #000 , 185px 5px #000 , 1064px 1789px #000 , 89px 1111px #000 , 31px 1433px #000 , 990px 287px #000 , 1174px 987px #000 , 1525px 1856px #000 , 1032px 865px #000 , 1461px 530px #000 , 1771px 977px #000 , 1460px 1134px #000 , 1658px 1749px #000 , 1593px 1261px #000 , 602px 1436px #000 , 1037px 1184px #000 , 1979px 1912px #000 , 1990px 1331px #000 , 496px 905px #000 , 276px 1204px #000 , 1759px 1146px #000 , 558px 929px #000 , 627px 636px #000 , 941px 485px #000 , 77px 105px #000 , 30px 1080px #000 , 1875px 1833px #000 , 1420px 790px #000 , 483px 1280px #000 , 1815px 363px #000 , 252px 808px #000 , 1078px 834px #000 , 1176px 1873px #000 , 1416px 123px #000 , 1768px 1159px #000 , 1616px 82px #000 , 25px 43px #000 , 1220px 1351px #000 , 1422px 506px #000 , 460px 1596px #000 , 141px 895px #000 , 1526px 521px #000 , 1265px 1150px #000 , 257px 1280px #000 , 679px 1750px #000 , 1435px 231px #000 , 1247px 1032px #000 , 752px 1853px #000 , 828px 1440px #000 , 708px 1810px #000 , 1492px 256px #000 , 1280px 148px #000 , 1658px 1707px #000 , 243px 1183px #000 , 55px 1599px #000 , 461px 635px #000 , 1630px 718px #000 , 1035px 1439px #000 , 452px 278px #000 , 399px 1721px #000 , 435px 1639px #000 , 1252px 1075px #000 , 1237px 1486px #000 , 225px 1865px #000 , 755px 110px #000 , 977px 264px #000 , 429px 1063px #000 , 126px 1479px #000 , 318px 1013px #000 , 57px 430px #000 , 1276px 681px #000 , 592px 638px #000 , 113px 1103px #000 , 1122px 1673px #000 , 1877px 1424px #000 , 727px 119px #000 , 944px 1211px #000 , 507px 1856px #000 , 104px 629px #000 , 1186px 1191px #000 , 1473px 613px #000 , 1902px 1347px #000 , 976px 614px #000 , 1486px 1860px #000 , 1654px 881px #000 , 1728px 1140px #000 , 535px 279px #000 , 1727px 119px #000 , 532px 252px #000 , 1333px 772px #000 , 645px 528px #000 , 435px 259px #000 , 780px 858px #000 , 1261px 1369px #000 , 1199px 207px #000 , 1169px 999px #000 , 1634px 38px #000 , 526px 1523px #000 , 1634px 1316px #000 , 1811px 504px #000 , 606px 338px #000 , 1931px 1105px #000 , 1647px 1622px #000 , 734px 1833px #000 , 868px 733px #000 , 1596px 1832px #000 , 773px 738px #000 , 1919px 508px #000 , 1505px 367px #000 , 271px 479px #000 , 58px 1644px #000 , 332px 713px #000 , 65px 1144px #000 , 1804px 765px #000 , 1959px 613px #000 , 1178px 1120px #000 , 1110px 1477px #000 , 871px 1660px #000 , 660px 374px #000 , 1209px 1490px #000 , 234px 751px #000 , 1544px 869px #000 , 1956px 1987px #000 , 1097px 1546px #000 , 1619px 1856px #000 , 1296px 1980px #000 , 1999px 720px #000 , 1081px 1438px #000 , 1467px 815px #000 , 330px 686px #000 , 730px 261px #000 , 461px 1850px #000 , 1195px 1389px #000 , 887px 1936px #000 , 568px 48px #000 , 454px 620px #000 , 885px 1902px #000 , 16px 1154px #000 , 1716px 1820px #000 , 1075px 1705px #000 , 1703px 1443px #000 , 1633px 1297px #000 , 1111px 710px #000 , 1832px 1076px #000 , 578px 1048px #000 , 1830px 760px #000 , 672px 1938px #000 , 1413px 434px #000 , 1412px 311px #000 , 1486px 1339px #000 , 334px 237px #000 , 1539px 1523px #000 , 470px 1156px #000 , 1257px 1275px #000 , 820px 725px #000 , 64px 1096px #000 , 1133px 679px #000 , 240px 958px #000 , 1360px 344px #000 , 1591px 1083px #000 , 1285px 1861px #000 , 638px 473px #000 , 1949px 1424px #000;
    }
    
    #stars3 {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1617px 1535px #000 , 1052px 782px #000 , 752px 521px #000 , 229px 624px #000 , 505px 892px #000 , 1596px 794px #000 , 1568px 1050px #000 , 1122px 1367px #000 , 1459px 1829px #000 , 187px 784px #000 , 842px 1929px #000 , 304px 1182px #000 , 1469px 964px #000 , 435px 1878px #000 , 492px 422px #000 , 818px 1205px #000 , 1972px 437px #000 , 658px 827px #000 , 868px 1507px #000 , 964px 1440px #000 , 1421px 1245px #000 , 1871px 768px #000 , 638px 737px #000 , 516px 1249px #000 , 1761px 542px #000 , 1450px 469px #000 , 771px 780px #000 , 185px 1119px #000 , 1244px 5px #000 , 211px 208px #000 , 691px 302px #000 , 726px 822px #000 , 932px 1729px #000 , 235px 690px #000 , 1460px 1445px #000 , 199px 1018px #000 , 1894px 1691px #000 , 466px 758px #000 , 1588px 159px #000 , 1035px 1147px #000 , 14px 827px #000 , 1351px 1109px #000 , 1807px 451px #000 , 935px 902px #000 , 1481px 1195px #000 , 126px 1389px #000 , 686px 1808px #000 , 656px 141px #000 , 1227px 1944px #000 , 1471px 1919px #000 , 787px 1871px #000 , 1656px 1097px #000 , 799px 966px #000 , 1381px 358px #000 , 1939px 602px #000 , 722px 364px #000 , 1168px 1551px #000 , 1878px 2px #000 , 639px 1140px #000 , 1720px 1116px #000 , 1206px 1901px #000 , 222px 696px #000 , 864px 966px #000 , 230px 667px #000 , 1997px 1728px #000 , 260px 1046px #000 , 431px 1011px #000 , 1968px 1607px #000 , 14px 726px #000 , 1572px 1584px #000 , 308px 741px #000 , 42px 1132px #000 , 1189px 590px #000 , 1039px 494px #000 , 487px 629px #000 , 1781px 51px #000 , 1971px 761px #000 , 671px 737px #000 , 522px 748px #000 , 1107px 186px #000 , 298px 1509px #000 , 961px 246px #000 , 582px 737px #000 , 351px 571px #000 , 1545px 1412px #000 , 204px 1651px #000 , 212px 440px #000 , 922px 682px #000 , 1640px 429px #000 , 1324px 821px #000 , 1250px 1610px #000 , 1732px 36px #000 , 166px 1106px #000 , 1302px 1115px #000 , 1562px 1995px #000 , 551px 1848px #000 , 461px 44px #000 , 1224px 697px #000 , 1997px 1799px #000 , 11px 782px #000;
      animation: animStar 150s linear infinite;
    }
    
    #stars3:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1617px 1535px #000 , 1052px 782px #000 , 752px 521px #000 , 229px 624px #000 , 505px 892px #000 , 1596px 794px #000 , 1568px 1050px #000 , 1122px 1367px #000 , 1459px 1829px #000 , 187px 784px #000 , 842px 1929px #000 , 304px 1182px #000 , 1469px 964px #000 , 435px 1878px #000 , 492px 422px #000 , 818px 1205px #000 , 1972px 437px #000 , 658px 827px #000 , 868px 1507px #000 , 964px 1440px #000 , 1421px 1245px #000 , 1871px 768px #000 , 638px 737px #000 , 516px 1249px #000 , 1761px 542px #000 , 1450px 469px #000 , 771px 780px #000 , 185px 1119px #000 , 1244px 5px #000 , 211px 208px #000 , 691px 302px #000 , 726px 822px #000 , 932px 1729px #000 , 235px 690px #000 , 1460px 1445px #000 , 199px 1018px #000 , 1894px 1691px #000 , 466px 758px #000 , 1588px 159px #000 , 1035px 1147px #000 , 14px 827px #000 , 1351px 1109px #000 , 1807px 451px #000 , 935px 902px #000 , 1481px 1195px #000 , 126px 1389px #000 , 686px 1808px #000 , 656px 141px #000 , 1227px 1944px #000 , 1471px 1919px #000 , 787px 1871px #000 , 1656px 1097px #000 , 799px 966px #000 , 1381px 358px #000 , 1939px 602px #000 , 722px 364px #000 , 1168px 1551px #000 , 1878px 2px #000 , 639px 1140px #000 , 1720px 1116px #000 , 1206px 1901px #000 , 222px 696px #000 , 864px 966px #000 , 230px 667px #000 , 1997px 1728px #000 , 260px 1046px #000 , 431px 1011px #000 , 1968px 1607px #000 , 14px 726px #000 , 1572px 1584px #000 , 308px 741px #000 , 42px 1132px #000 , 1189px 590px #000 , 1039px 494px #000 , 487px 629px #000 , 1781px 51px #000 , 1971px 761px #000 , 671px 737px #000 , 522px 748px #000 , 1107px 186px #000 , 298px 1509px #000 , 961px 246px #000 , 582px 737px #000 , 351px 571px #000 , 1545px 1412px #000 , 204px 1651px #000 , 212px 440px #000 , 922px 682px #000 , 1640px 429px #000 , 1324px 821px #000 , 1250px 1610px #000 , 1732px 36px #000 , 166px 1106px #000 , 1302px 1115px #000 , 1562px 1995px #000 , 551px 1848px #000 , 461px 44px #000 , 1224px 697px #000 , 1997px 1799px #000 , 11px 782px #000;
    }
  
    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2000px);
      }
    }

#back-link {
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    color: #f43135;
}
