@font-face {
  font-family: "trcd";
  src: url("/fonts/typewcond_regular-webfont.woff2");
}

@font-face {
  font-family: "mtr";
  src: url("/fonts/Moms_typewriter.ttf");
}

/*
@font-face {
  font-family: "bs";
  src: url("/fonts/BadlyStamped.ttf");
}

@font-face {
  font-family: "sn";
  src: url("/fonts/Stamping Nico.ttf");
}

@font-face {
  font-family: "pt";
  src: url("/fonts/Pelkistettya todellisuutta.ttf");
}

@font-face {
  font-family: "idimw";
  src: url("/fonts/I Did It My Way.ttf");
}

@font-face {
  font-family: "qwerty";
  src: url("/fonts/qwerty.otf");
}

@font-face {
  font-family: "rt";
  src: url("/fonts/rough_typewriter.otf");
}
*/

.navbar-light .navbar-brand {
  font-family: trcd, sans-serif !important;
  font-size: 1.6rem;
  font-weight: 500;
  color: #8d99a6;
}

.navbar-brand {
  margin: 0 auto;
  font-family: trcd, sans-serif !important;
  font-size: 1.6rem;
  color:#8d99a6;
  display: flex;
}

.navbar .navbar-nav .nav-link {
  font-family: trcd, sans-serif !important;
  color: #8d99a6;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-family: trcd, sans-serif !important;
  font-size: 1.5rem;
}

#navbar-main .main-menu-item ul li .nav-link {
  color: #8d99a6;
  margin-left: 10%;
  font-family: trcd, sans-serif !important;
  font-size: 1.2rem;
  padding-top: 0;
}

.navbar .navbar-nav .nav-link.active {
    font-family: trcd, sans-serif !important;
    color: #f43135 !important;
}

.justify-content-start {
  
  font-size: 1.2rem;
}

/*------------------------------------
- COLOR primary
------------------------------------*/

$primary_t1: #607990;
$primary_t2: #4b5f71;
$primary_t3: #bbc7d2;
$primary_t4: #cbd4dc;
$primary_t5: #2f3b46;
$primary_t6: #455768;
$primary_t7: #51677a;
$primary_t8: #1a2127;
$primary_t9: #d7dee4;

$primary_shadow: rgba(96, 121, 144, 0.5);
$primary_text_color_dark_bright: #000;


.alert-primary {
  color: $primary_t5;
  background-color: $primary_t9;
  border-color: $primary_t4;
}

.alert-primary hr {
  border-top-color: $primary_t3;
}

.alert-primary .alert-link {
  color: $primary_t8;
}

.badge-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
}

.bg-primary {
  background-color: $primary_t1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary_t2 !important; 
}

.border-primary {
  border-color: $primary_t1 !important;
}

.btn-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t7;
  border-color: $primary_t2;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
  color: $primary_t1;
  background-color: transparent;
  border-color: $primary_t1;
}

.btn-outline-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary_t1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
  color: $primary_t5;
  background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: $primary_t5;
  background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t5;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $primary_t4;
}

.table-hover .table-primary:hover {
  background-color: $primary_t3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: $primary_t3;
}

.text-primary {
  color: $primary_t1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: $primary_t2 !important;
}

    
a {
  font-family: trcd, sans-serif;
  color: $primary_t5;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: $primary_t5;
    text-decoration: underline; }

.dark a,
.dark h3.article-title a:hover {
  color: primary_t3; }

.dark a:hover,
.dark a:focus {
  color: primary_t3; }



a,
h3.article-title a:hover {
  color: $primary_t5;
  text-decoration: none;
  transition: color 0.6s ease; }

a:hover,
a:focus {
  color: $primary_t5; }

.dark a,
.dark h3.article-title a:hover {
  color: primary_t3; }

.dark a:hover,
.dark a:focus {
  color: primary_t3; }

btn btn-primary btn-lg active {
  color: primary_t5 !important;
  background-color: #000 !important;
}

.home-section.wg-slider {
    padding: 0;
    animation: none;
    animation-delay: unset;
    background-color: #000;
}

.hero-title {
    font-family: 'mtr', sans-serif;
    color: #dee2e6 !important;
    font-weight: 400 !important;
    font-size: 4rem !important;
    margin-top: 10%;
    line-height: 1.3;
}

.hero-title2 {
    font-family: 'mtr', sans-serif;
    color: #828485 !important;
    font-weight: 400 !important;
    font-size: 15.5rem !important;
    margin-top: 5%;
    line-height: 1.3;
}

.svg-icon {
  height: auto;
  width: 90%;
  padding-top: 10%;
  }

.hero-lead {
  font-family: mtr,space, sans-serif;
  color: #fc4545 !important;
  font-size: 1rem !important;
  max-width: 768px;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.wg-hero.dark .btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Courier New';
  padding-right: 10px;
  height: 50vh;
  width: 50vw;
}

.wg-hero .btn-lg, .wg-hero .btn-group-lg>.btn {
  font-size: 1rem;
}

.wg-hero .btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Courier New';
  padding-right: 10px;
  height: 50vh;
  width: 50vw;
}

.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  /*text-shadow: 1px 1px 4px rgba(0,0,0,0.5);*/
  /* Uncomment to standout on complicated backgrounds. */ }


/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: no-repeat 50% / 100% 100%; }
*/

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: #313d4f !important; }

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: #6079909a !important; }


h2.mb-4 {
  display: none;
}

.home-section {
  position: relative;
  background-color: white;
  padding: 10px 0 10px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

#people_artists.home-section.wg-people {
  height: 100%;
  margin: 40px 0 80px;
  background-color: #f7f7f7;
  font-size: 1.8em; }


.people-widget .portrait-title h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
}



#people_aufstrebend.home-section.wg-people {
  height: 100%;
  margin: 40px 0 80px;
  background-color: #f7f7f7;
  font-size: 1.8em; }


.my-widget {
  height: 3000px;
  }

.people-widget .avatar {
    width: 80%;
    max-width: 150px;
    height: auto;
}

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 60%; } }

@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 30%; } }
    
  /* animation ************************************/
  .element {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }

  i.fas.fa-eye {
  width: 100%;
  height: 100%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: #111111;
  }
  50% {
    color: #aaaaaa;
  }
  100% {
    color: #111111;
  }
}

.fancybox-toolbar {
    right: 10px;
    top: 50px;
    width: 300px;           
}

#mapid { height: 180px; }

/*************************************************
 *  People widget
 **************************************************/
 .people-widget {
  font-size: 1.5rem;
  text-align: center; }

.people-widget .portrait-title h3 {
  font-size: 0.7rem; }

.people-widget .avatar {
  width: 80%;
  max-width: 150px;
  height: auto; }

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 30%; } }

@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 20%; } }

/*************************************************
 *  Contact
 **************************************************/
.contact-widget .fa-ul {
  margin-left: 3.14285714rem;
  font-family: trcd !important;
  /* Must be > `fa-2x` icon size. */ }

.contact-widget .fa-li {
  position: absolute;
  left: -3.14285714rem;
  /* Negative of `.contact-widget .fa-ul` margin. */
  width: 2rem;
  /* Match `fa-2x` icon size. */
  top: 0.14285714em;
  /* Default FA value. */
  text-align: center; }

.contact-widget li {
  padding-top: 0.8rem;
  /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem; }

.contact-widget li:last-of-type {
  margin-bottom: 0; }

#map {
  height: 350px;
  width: 100%; }


/* Create a parallax-like scrolling effect. */
#hero-svg {
  background-image: url(hero.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.parallax {
  height: 100%;
  background-attachment: fixed; }

.home-section:first-of-type {
  padding-top: 50px; }

.home-section:nth-of-type(even) {
  background-color: #f7f7f7; }

.dark .home-section {
  background-color: #272935; }

.dark .home-section:nth-of-type(even) {
  background-color: #23252f; }

@media screen and (max-width: 768px) {
  .home-section {
    padding: 60px 0 60px 0; }
  .home-section:first-of-type {
    padding-top: 40px; } }

.section-heading h1 {
  margin: 0 0 10px 0; }

.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2; }



/************************************************
 *  Gallery orig..

.gallery {
  margin: 0.5em -4px 1.5em -4px;
  font-size: 0; }

a[data-fancybox] {
  text-decoration: none;
  cursor: zoom-in; }

.gallery a[data-fancybox] img {
  height: 250px;
  width: auto;
  max-width: inherit;
  display: inherit;
  margin: 0;
  padding: 4px;
  box-shadow: none;
  vertical-align: inherit; }

.fancybox-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center; }
 **************************************************/

/*************************************************
 *  Gallery.
 **************************************************/
 .gallery {
  margin: 0.5em -4px 1.5em -4px;
  font-size: 0; }

a[data-fancybox] {
  text-decoration: none;
  cursor: zoom-in; }

  .gallery a[data-fancybox] img {
    height: auto !important;
    width: 320px !important;
    max-width: inherit;
    display: inherit;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: inherit; }

.fancybox-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center; }


/* Headings 
h1, h2, h3, h4, h5, h6 {
  font-family: "qwerty", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  /* Ensure long words do not overflow into content. */
  /* 
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
  /* 
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual; }
*/


  #person-telephone {
    font-size: medium;
  }

  #person-address {
    font-size: medium;
  }

  #contact {
    font-family: trcd;
  }

#landing2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    ;
}

.landing-svg {
  width: 75%;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(62.svg);
}

.landing-svg2 {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url(hero.svg);
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: center;
}
/*
.landing-svg2 {
  width: 90%;
  max-width: 800px;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(http://localhost:1313/css/hero.svg);
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: center;
}
*/
.navbar-brand img {
  width: auto;
  height: -moz-available;
  height: -webkit-fill-available;
  height: -webkit-stretch;
  height: stretch;
  max-height: 60px;
  max-width: fit-content;
}

#meettheartists {
  text-align: center;
  font-family: 'mtr', sans-serif;
  font-size: large;
  line-height: 50px;
  letter-spacing: 0.35em;
  margin-top: 80px;
  margin-bottom: 0;
  box-shadow: 0 2px 0 #e0e0e0;
}

#aufstrebend {  
  text-align: center;
  font-family: 'mtr', sans-serif;
  font-size: large;
  line-height: 50px;
  letter-spacing: 0.35em;
  margin-top: 80px;
  box-shadow: 0 2px 0 #e0e0e0;}

  #contact_header {  
    text-align: center;
    font-family: 'mtr', sans-serif;
    font-size: large;
    line-height: 50px;
    letter-spacing: 0.35em;
    margin-top: 80px;
    box-shadow: 0 2px 0 #e0e0e0;}    
    
    
    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1860px 659px #000 , 1879px 386px #000 , 1147px 1802px #000 , 1788px 607px #000 , 551px 1385px #000 , 974px 1057px #000 , 990px 1883px #000 , 1561px 466px #000 , 1726px 1222px #000 , 1752px 1086px #000 , 1935px 691px #000 , 777px 1371px #000 , 49px 239px #000 , 761px 157px #000 , 1104px 1324px #000 , 320px 701px #000 , 1151px 756px #000 , 198px 1165px #000 , 795px 162px #000 , 1030px 706px #000 , 1593px 1693px #000 , 1622px 1992px #000 , 967px 655px #000 , 1425px 1327px #000 , 432px 430px #000 , 1155px 1782px #000 , 424px 1922px #000 , 1083px 1114px #000 , 1016px 1470px #000 , 828px 1349px #000 , 1945px 859px #000 , 1881px 722px #000 , 703px 1789px #000 , 1291px 130px #000 , 1296px 533px #000 , 636px 1894px #000 , 1117px 384px #000 , 589px 1999px #000 , 1397px 938px #000 , 926px 950px #000 , 124px 1481px #000 , 1258px 1280px #000 , 317px 1235px #000 , 202px 1123px #000 , 1709px 1690px #000 , 902px 1533px #000 , 1477px 1451px #000 , 1355px 708px #000 , 595px 519px #000 , 1929px 1004px #000 , 294px 1882px #000 , 1044px 517px #000 , 793px 1142px #000 , 290px 1002px #000 , 423px 1263px #000 , 1118px 1766px #000 , 618px 1752px #000 , 513px 687px #000 , 444px 1250px #000 , 1155px 397px #000 , 1208px 1507px #000 , 1686px 1214px #000 , 892px 1886px #000 , 1593px 1524px #000 , 1343px 721px #000 , 1893px 1164px #000 , 1095px 708px #000 , 885px 163px #000 , 1430px 323px #000 , 1401px 850px #000 , 1504px 942px #000 , 122px 166px #000 , 1206px 1377px #000 , 598px 669px #000 , 499px 1432px #000 , 106px 1487px #000 , 1135px 1148px #000 , 874px 167px #000 , 1449px 1265px #000 , 400px 1368px #000 , 302px 1302px #000 , 1479px 1437px #000 , 389px 17px #000 , 112px 1227px #000 , 1233px 1162px #000 , 1853px 233px #000 , 193px 1615px #000 , 340px 299px #000 , 588px 217px #000 , 1712px 360px #000 , 1549px 745px #000 , 1991px 662px #000 , 1652px 515px #000 , 1128px 881px #000 , 800px 302px #000 , 1471px 584px #000 , 127px 1997px #000 , 1363px 381px #000 , 964px 943px #000 , 1755px 992px #000 , 1740px 1148px #000 , 1956px 546px #000 , 1129px 527px #000 , 1307px 90px #000 , 1489px 1191px #000 , 981px 1598px #000 , 1316px 1315px #000 , 1553px 1903px #000 , 272px 392px #000 , 732px 708px #000 , 596px 960px #000 , 1801px 424px #000 , 1766px 700px #000 , 103px 998px #000 , 967px 308px #000 , 1441px 1208px #000 , 1226px 1795px #000 , 816px 1836px #000 , 639px 1384px #000 , 1077px 677px #000 , 181px 494px #000 , 1249px 225px #000 , 1796px 1435px #000 , 480px 994px #000 , 143px 1828px #000 , 284px 944px #000 , 372px 1883px #000 , 999px 215px #000 , 650px 1683px #000 , 1604px 1903px #000 , 1638px 1836px #000 , 347px 641px #000 , 315px 1863px #000 , 44px 1907px #000 , 884px 198px #000 , 137px 1773px #000 , 1238px 1165px #000 , 1563px 1612px #000 , 136px 890px #000 , 835px 1773px #000 , 421px 410px #000 , 961px 1761px #000 , 1972px 1967px #000 , 821px 1466px #000 , 969px 1735px #000 , 1541px 1674px #000 , 617px 1695px #000 , 317px 78px #000 , 1162px 482px #000 , 112px 133px #000 , 674px 1618px #000 , 1593px 1788px #000 , 1532px 858px #000 , 744px 1095px #000 , 646px 153px #000 , 310px 444px #000 , 286px 966px #000 , 120px 1947px #000 , 465px 502px #000 , 338px 1147px #000 , 1190px 1693px #000 , 508px 276px #000 , 1751px 642px #000 , 1921px 1257px #000 , 747px 227px #000 , 578px 1462px #000 , 1253px 1632px #000 , 246px 1068px #000 , 1701px 915px #000 , 446px 686px #000 , 846px 1516px #000 , 1416px 66px #000 , 643px 1082px #000 , 1056px 1958px #000 , 707px 941px #000 , 358px 281px #000 , 1543px 1788px #000 , 983px 92px #000 , 798px 1310px #000 , 1121px 155px #000 , 339px 1201px #000 , 1770px 8px #000 , 127px 1906px #000 , 1985px 384px #000 , 1406px 1536px #000 , 574px 429px #000 , 887px 1988px #000 , 1384px 1857px #000 , 863px 669px #000 , 1472px 185px #000 , 1691px 54px #000 , 1855px 1605px #000 , 124px 812px #000 , 1531px 7px #000 , 1057px 1758px #000 , 530px 444px #000 , 955px 41px #000 , 907px 1302px #000 , 1123px 389px #000 , 1367px 1125px #000 , 1547px 1046px #000 , 557px 759px #000 , 18px 851px #000 , 857px 1918px #000 , 801px 300px #000 , 205px 570px #000 , 894px 949px #000 , 911px 1160px #000 , 1977px 1348px #000 , 524px 1761px #000 , 273px 109px #000 , 118px 1664px #000 , 697px 1982px #000 , 1721px 376px #000 , 233px 766px #000 , 1475px 100px #000 , 1656px 618px #000 , 1917px 259px #000 , 177px 1054px #000 , 356px 1418px #000 , 999px 1006px #000 , 1758px 1703px #000 , 1267px 1501px #000 , 1713px 663px #000 , 209px 23px #000 , 1062px 1072px #000 , 511px 1602px #000 , 1064px 828px #000 , 1426px 1697px #000 , 1012px 548px #000 , 648px 86px #000 , 369px 1048px #000 , 855px 1507px #000 , 156px 94px #000 , 1321px 1544px #000 , 1822px 342px #000 , 1937px 158px #000 , 1584px 436px #000 , 98px 760px #000 , 354px 78px #000 , 1853px 1667px #000 , 1534px 1731px #000 , 684px 1926px #000 , 1654px 1968px #000 , 1657px 775px #000 , 1074px 9px #000 , 1244px 303px #000 , 6px 1712px #000 , 1027px 649px #000 , 519px 1027px #000 , 615px 329px #000 , 869px 765px #000 , 564px 1300px #000 , 726px 938px #000 , 627px 824px #000 , 884px 1126px #000 , 721px 935px #000 , 1937px 342px #000 , 755px 1914px #000 , 1970px 1646px #000 , 24px 1873px #000 , 1205px 820px #000 , 121px 31px #000 , 594px 1723px #000 , 689px 1834px #000 , 299px 1180px #000 , 1170px 131px #000 , 1476px 1238px #000 , 1035px 1379px #000 , 1808px 1343px #000 , 808px 1584px #000 , 1176px 50px #000 , 279px 1029px #000 , 426px 1762px #000 , 1601px 1105px #000 , 1306px 1086px #000 , 783px 1763px #000 , 1811px 391px #000 , 186px 1646px #000 , 790px 695px #000 , 747px 1952px #000 , 527px 828px #000 , 570px 573px #000 , 1308px 266px #000 , 500px 651px #000 , 325px 674px #000 , 1485px 1953px #000 , 414px 1218px #000 , 1679px 79px #000 , 127px 37px #000 , 204px 1599px #000 , 1693px 1559px #000 , 1049px 1766px #000 , 902px 1224px #000 , 678px 1180px #000 , 1315px 113px #000 , 1531px 1748px #000 , 360px 46px #000 , 235px 2000px #000 , 1292px 1344px #000 , 1833px 1756px #000 , 1133px 519px #000 , 544px 68px #000 , 1315px 907px #000 , 63px 1899px #000 , 1455px 976px #000 , 1674px 255px #000 , 210px 363px #000 , 1121px 73px #000 , 1143px 83px #000 , 723px 694px #000 , 1962px 1961px #000 , 442px 727px #000 , 1110px 1394px #000 , 212px 1936px #000 , 1555px 746px #000 , 1618px 1709px #000 , 693px 1086px #000 , 125px 1799px #000 , 1445px 1579px #000 , 1075px 1245px #000 , 1981px 486px #000 , 1477px 1440px #000 , 1906px 678px #000 , 1779px 1905px #000 , 367px 1650px #000 , 849px 1274px #000 , 1189px 1876px #000 , 977px 607px #000 , 1052px 431px #000 , 1237px 869px #000 , 172px 806px #000 , 1466px 1340px #000 , 638px 737px #000 , 5px 1176px #000 , 1164px 1239px #000 , 1112px 229px #000 , 550px 1753px #000 , 826px 850px #000 , 367px 964px #000 , 986px 1820px #000 , 1450px 125px #000 , 1191px 813px #000 , 531px 985px #000 , 1926px 730px #000 , 951px 877px #000 , 322px 1082px #000 , 1001px 663px #000 , 1336px 393px #000 , 1849px 277px #000 , 1361px 1041px #000 , 516px 961px #000 , 834px 1448px #000 , 1554px 1783px #000 , 812px 1520px #000 , 875px 506px #000 , 1866px 1216px #000 , 1024px 962px #000 , 14px 882px #000 , 946px 31px #000 , 593px 1863px #000 , 424px 22px #000 , 1842px 1819px #000 , 1828px 1422px #000 , 1837px 264px #000 , 1207px 660px #000 , 282px 731px #000 , 870px 168px #000 , 1678px 974px #000 , 528px 396px #000 , 1416px 1876px #000 , 966px 1780px #000 , 656px 45px #000 , 1692px 162px #000 , 127px 1219px #000 , 1259px 1145px #000 , 1516px 323px #000 , 494px 1780px #000 , 603px 957px #000 , 1951px 1436px #000 , 712px 476px #000 , 1455px 461px #000 , 1815px 790px #000 , 1587px 643px #000 , 1270px 1487px #000 , 1572px 16px #000 , 1900px 1261px #000 , 197px 528px #000 , 1217px 1942px #000 , 1138px 1386px #000 , 1378px 793px #000 , 95px 1712px #000 , 992px 100px #000 , 400px 1384px #000 , 733px 1837px #000 , 1355px 1317px #000 , 928px 1693px #000 , 117px 303px #000 , 149px 1477px #000 , 335px 982px #000 , 1384px 1273px #000 , 1133px 1030px #000 , 1922px 241px #000 , 1675px 1208px #000 , 1026px 1133px #000 , 669px 451px #000 , 1155px 1871px #000 , 83px 571px #000 , 1952px 1945px #000 , 1069px 561px #000 , 651px 48px #000 , 643px 1670px #000 , 1971px 1569px #000 , 1117px 1824px #000 , 1458px 1932px #000 , 1690px 231px #000 , 955px 15px #000 , 1665px 1871px #000 , 1430px 1708px #000 , 1320px 1552px #000 , 771px 1636px #000 , 335px 1585px #000 , 680px 713px #000 , 619px 154px #000 , 1290px 496px #000 , 1818px 1753px #000 , 1443px 259px #000 , 813px 443px #000 , 1947px 1461px #000 , 1602px 1083px #000 , 15px 1764px #000 , 191px 549px #000 , 722px 1953px #000 , 1605px 1083px #000 , 1247px 98px #000 , 115px 770px #000 , 1668px 1101px #000 , 814px 1222px #000 , 1093px 1328px #000 , 1060px 158px #000 , 1754px 1201px #000 , 1625px 1018px #000 , 314px 23px #000 , 81px 1149px #000 , 1908px 1985px #000 , 1027px 1286px #000 , 615px 1777px #000 , 27px 1249px #000 , 508px 40px #000 , 503px 179px #000 , 1645px 1914px #000 , 1034px 1260px #000 , 1260px 1014px #000 , 542px 1790px #000 , 1407px 322px #000 , 1398px 621px #000 , 284px 336px #000 , 740px 874px #000 , 1801px 963px #000 , 1002px 1416px #000 , 1271px 1679px #000 , 1962px 1343px #000 , 262px 873px #000 , 328px 912px #000 , 399px 85px #000 , 700px 308px #000 , 1335px 896px #000 , 1698px 516px #000 , 675px 1745px #000 , 314px 1288px #000 , 1182px 1774px #000 , 1807px 89px #000 , 852px 587px #000 , 1433px 184px #000 , 1448px 573px #000 , 1514px 1422px #000 , 1025px 370px #000 , 1044px 875px #000 , 538px 1058px #000 , 431px 1815px #000 , 1005px 419px #000 , 1369px 1484px #000 , 1230px 1680px #000 , 1432px 1972px #000 , 1789px 1561px #000 , 528px 267px #000 , 48px 86px #000 , 1715px 1325px #000 , 252px 1168px #000 , 1226px 276px #000 , 306px 1301px #000 , 432px 1694px #000 , 1070px 1818px #000 , 96px 180px #000 , 1565px 442px #000 , 571px 382px #000 , 1181px 1657px #000 , 542px 328px #000 , 540px 216px #000 , 1271px 208px #000 , 383px 1191px #000 , 212px 659px #000 , 347px 380px #000 , 935px 982px #000 , 1565px 627px #000 , 877px 344px #000 , 1428px 1621px #000 , 1183px 1642px #000 , 1628px 1748px #000 , 1557px 641px #000 , 1518px 138px #000 , 36px 88px #000 , 1423px 1861px #000 , 39px 1551px #000 , 1598px 1483px #000 , 1457px 1118px #000 , 432px 1498px #000 , 1383px 467px #000 , 36px 9px #000 , 1531px 305px #000 , 194px 1727px #000 , 1046px 225px #000 , 1334px 1124px #000 , 67px 1346px #000 , 918px 1619px #000 , 1692px 1036px #000 , 1759px 1718px #000 , 722px 865px #000 , 688px 1753px #000 , 17px 1470px #000 , 139px 1407px #000 , 1000px 1477px #000 , 1333px 1706px #000 , 317px 693px #000 , 157px 828px #000 , 1135px 830px #000 , 382px 985px #000 , 1852px 1349px #000 , 386px 278px #000 , 274px 1202px #000 , 227px 1403px #000 , 1783px 569px #000 , 569px 1074px #000 , 553px 571px #000 , 1166px 907px #000 , 196px 1957px #000 , 367px 898px #000 , 1580px 205px #000 , 789px 1696px #000 , 288px 1506px #000 , 401px 1660px #000 , 684px 815px #000 , 835px 722px #000 , 516px 381px #000 , 483px 1989px #000 , 508px 335px #000 , 1423px 389px #000 , 399px 323px #000 , 1167px 1465px #000 , 1324px 20px #000 , 728px 889px #000 , 487px 1546px #000 , 101px 860px #000 , 208px 1495px #000 , 898px 1477px #000 , 750px 232px #000 , 291px 927px #000 , 1232px 1105px #000 , 207px 338px #000 , 1846px 1264px #000 , 1877px 1002px #000 , 1428px 578px #000 , 67px 1859px #000 , 1630px 1286px #000 , 1760px 743px #000 , 1101px 1341px #000 , 747px 229px #000 , 1016px 499px #000 , 1325px 1395px #000 , 1692px 1647px #000 , 1628px 434px #000 , 1745px 1174px #000 , 690px 248px #000 , 1877px 1739px #000 , 1769px 884px #000 , 1479px 375px #000 , 929px 916px #000 , 919px 615px #000 , 1549px 480px #000 , 1516px 694px #000 , 1096px 1297px #000 , 1606px 1747px #000 , 1670px 790px #000 , 1412px 1668px #000 , 285px 422px #000 , 893px 1068px #000 , 1993px 1416px #000 , 1421px 8px #000 , 1991px 487px #000 , 541px 1527px #000 , 944px 889px #000 , 1819px 87px #000 , 1967px 1571px #000 , 1427px 1942px #000 , 1248px 289px #000 , 1117px 1874px #000 , 823px 1740px #000 , 1679px 1216px #000 , 734px 228px #000 , 1908px 1795px #000 , 498px 485px #000 , 1680px 1952px #000 , 1585px 1372px #000 , 68px 1357px #000 , 796px 279px #000 , 727px 1544px #000 , 269px 1133px #000 , 1854px 1727px #000 , 1843px 530px #000 , 1719px 1932px #000 , 46px 1070px #000 , 396px 657px #000 , 374px 1136px #000 , 1336px 1418px #000 , 273px 499px #000 , 1836px 838px #000 , 1567px 328px #000 , 263px 1881px #000 , 1846px 1044px #000 , 303px 1599px #000 , 1335px 585px #000 , 1030px 1141px #000 , 1793px 1337px #000 , 483px 206px #000 , 765px 1462px #000 , 1664px 1126px #000 , 542px 1406px #000 , 1712px 1009px #000 , 1098px 878px #000 , 1995px 1386px #000 , 743px 40px #000 , 1060px 1959px #000 , 1536px 166px #000 , 1955px 1136px #000 , 1318px 142px #000 , 1208px 1798px #000 , 1915px 215px #000 , 1504px 29px #000 , 281px 1502px #000 , 1862px 341px #000 , 50px 1555px #000 , 1892px 426px #000 , 1912px 247px #000 , 669px 1550px #000 , 989px 1866px #000 , 581px 1967px #000 , 1659px 1004px #000 , 558px 896px #000 , 907px 1317px #000 , 277px 1912px #000 , 511px 802px #000 , 1092px 481px #000 , 1174px 1676px #000 , 1404px 735px #000 , 262px 107px #000 , 681px 1223px #000 , 1373px 1418px #000 , 1295px 517px #000 , 85px 1512px #000 , 1644px 479px #000 , 1677px 1607px #000 , 938px 1828px #000 , 625px 229px #000 , 1347px 1659px #000 , 194px 59px #000 , 1861px 336px #000 , 597px 809px #000 , 1828px 552px #000 , 865px 1673px #000 , 1492px 325px #000 , 297px 1651px #000 , 7px 1158px #000 , 1756px 701px #000 , 295px 866px #000 , 1966px 51px #000 , 918px 342px #000 , 547px 1250px #000 , 1260px 1584px #000 , 1763px 1816px #000 , 936px 372px #000 , 220px 1743px #000 , 785px 1850px #000 , 1701px 716px #000 , 1161px 1833px #000 , 1930px 1352px #000 , 518px 1705px #000 , 1619px 1504px #000 , 1707px 1355px #000 , 330px 1905px #000 , 1419px 205px #000;
      animation: animStar 50s linear infinite;
    }
    
    
    #stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1860px 659px #000 , 1879px 386px #000 , 1147px 1802px #000 , 1788px 607px #000 , 551px 1385px #000 , 974px 1057px #000 , 990px 1883px #000 , 1561px 466px #000 , 1726px 1222px #000 , 1752px 1086px #000 , 1935px 691px #000 , 777px 1371px #000 , 49px 239px #000 , 761px 157px #000 , 1104px 1324px #000 , 320px 701px #000 , 1151px 756px #000 , 198px 1165px #000 , 795px 162px #000 , 1030px 706px #000 , 1593px 1693px #000 , 1622px 1992px #000 , 967px 655px #000 , 1425px 1327px #000 , 432px 430px #000 , 1155px 1782px #000 , 424px 1922px #000 , 1083px 1114px #000 , 1016px 1470px #000 , 828px 1349px #000 , 1945px 859px #000 , 1881px 722px #000 , 703px 1789px #000 , 1291px 130px #000 , 1296px 533px #000 , 636px 1894px #000 , 1117px 384px #000 , 589px 1999px #000 , 1397px 938px #000 , 926px 950px #000 , 124px 1481px #000 , 1258px 1280px #000 , 317px 1235px #000 , 202px 1123px #000 , 1709px 1690px #000 , 902px 1533px #000 , 1477px 1451px #000 , 1355px 708px #000 , 595px 519px #000 , 1929px 1004px #000 , 294px 1882px #000 , 1044px 517px #000 , 793px 1142px #000 , 290px 1002px #000 , 423px 1263px #000 , 1118px 1766px #000 , 618px 1752px #000 , 513px 687px #000 , 444px 1250px #000 , 1155px 397px #000 , 1208px 1507px #000 , 1686px 1214px #000 , 892px 1886px #000 , 1593px 1524px #000 , 1343px 721px #000 , 1893px 1164px #000 , 1095px 708px #000 , 885px 163px #000 , 1430px 323px #000 , 1401px 850px #000 , 1504px 942px #000 , 122px 166px #000 , 1206px 1377px #000 , 598px 669px #000 , 499px 1432px #000 , 106px 1487px #000 , 1135px 1148px #000 , 874px 167px #000 , 1449px 1265px #000 , 400px 1368px #000 , 302px 1302px #000 , 1479px 1437px #000 , 389px 17px #000 , 112px 1227px #000 , 1233px 1162px #000 , 1853px 233px #000 , 193px 1615px #000 , 340px 299px #000 , 588px 217px #000 , 1712px 360px #000 , 1549px 745px #000 , 1991px 662px #000 , 1652px 515px #000 , 1128px 881px #000 , 800px 302px #000 , 1471px 584px #000 , 127px 1997px #000 , 1363px 381px #000 , 964px 943px #000 , 1755px 992px #000 , 1740px 1148px #000 , 1956px 546px #000 , 1129px 527px #000 , 1307px 90px #000 , 1489px 1191px #000 , 981px 1598px #000 , 1316px 1315px #000 , 1553px 1903px #000 , 272px 392px #000 , 732px 708px #000 , 596px 960px #000 , 1801px 424px #000 , 1766px 700px #000 , 103px 998px #000 , 967px 308px #000 , 1441px 1208px #000 , 1226px 1795px #000 , 816px 1836px #000 , 639px 1384px #000 , 1077px 677px #000 , 181px 494px #000 , 1249px 225px #000 , 1796px 1435px #000 , 480px 994px #000 , 143px 1828px #000 , 284px 944px #000 , 372px 1883px #000 , 999px 215px #000 , 650px 1683px #000 , 1604px 1903px #000 , 1638px 1836px #000 , 347px 641px #000 , 315px 1863px #000 , 44px 1907px #000 , 884px 198px #000 , 137px 1773px #000 , 1238px 1165px #000 , 1563px 1612px #000 , 136px 890px #000 , 835px 1773px #000 , 421px 410px #000 , 961px 1761px #000 , 1972px 1967px #000 , 821px 1466px #000 , 969px 1735px #000 , 1541px 1674px #000 , 617px 1695px #000 , 317px 78px #000 , 1162px 482px #000 , 112px 133px #000 , 674px 1618px #000 , 1593px 1788px #000 , 1532px 858px #000 , 744px 1095px #000 , 646px 153px #000 , 310px 444px #000 , 286px 966px #000 , 120px 1947px #000 , 465px 502px #000 , 338px 1147px #000 , 1190px 1693px #000 , 508px 276px #000 , 1751px 642px #000 , 1921px 1257px #000 , 747px 227px #000 , 578px 1462px #000 , 1253px 1632px #000 , 246px 1068px #000 , 1701px 915px #000 , 446px 686px #000 , 846px 1516px #000 , 1416px 66px #000 , 643px 1082px #000 , 1056px 1958px #000 , 707px 941px #000 , 358px 281px #000 , 1543px 1788px #000 , 983px 92px #000 , 798px 1310px #000 , 1121px 155px #000 , 339px 1201px #000 , 1770px 8px #000 , 127px 1906px #000 , 1985px 384px #000 , 1406px 1536px #000 , 574px 429px #000 , 887px 1988px #000 , 1384px 1857px #000 , 863px 669px #000 , 1472px 185px #000 , 1691px 54px #000 , 1855px 1605px #000 , 124px 812px #000 , 1531px 7px #000 , 1057px 1758px #000 , 530px 444px #000 , 955px 41px #000 , 907px 1302px #000 , 1123px 389px #000 , 1367px 1125px #000 , 1547px 1046px #000 , 557px 759px #000 , 18px 851px #000 , 857px 1918px #000 , 801px 300px #000 , 205px 570px #000 , 894px 949px #000 , 911px 1160px #000 , 1977px 1348px #000 , 524px 1761px #000 , 273px 109px #000 , 118px 1664px #000 , 697px 1982px #000 , 1721px 376px #000 , 233px 766px #000 , 1475px 100px #000 , 1656px 618px #000 , 1917px 259px #000 , 177px 1054px #000 , 356px 1418px #000 , 999px 1006px #000 , 1758px 1703px #000 , 1267px 1501px #000 , 1713px 663px #000 , 209px 23px #000 , 1062px 1072px #000 , 511px 1602px #000 , 1064px 828px #000 , 1426px 1697px #000 , 1012px 548px #000 , 648px 86px #000 , 369px 1048px #000 , 855px 1507px #000 , 156px 94px #000 , 1321px 1544px #000 , 1822px 342px #000 , 1937px 158px #000 , 1584px 436px #000 , 98px 760px #000 , 354px 78px #000 , 1853px 1667px #000 , 1534px 1731px #000 , 684px 1926px #000 , 1654px 1968px #000 , 1657px 775px #000 , 1074px 9px #000 , 1244px 303px #000 , 6px 1712px #000 , 1027px 649px #000 , 519px 1027px #000 , 615px 329px #000 , 869px 765px #000 , 564px 1300px #000 , 726px 938px #000 , 627px 824px #000 , 884px 1126px #000 , 721px 935px #000 , 1937px 342px #000 , 755px 1914px #000 , 1970px 1646px #000 , 24px 1873px #000 , 1205px 820px #000 , 121px 31px #000 , 594px 1723px #000 , 689px 1834px #000 , 299px 1180px #000 , 1170px 131px #000 , 1476px 1238px #000 , 1035px 1379px #000 , 1808px 1343px #000 , 808px 1584px #000 , 1176px 50px #000 , 279px 1029px #000 , 426px 1762px #000 , 1601px 1105px #000 , 1306px 1086px #000 , 783px 1763px #000 , 1811px 391px #000 , 186px 1646px #000 , 790px 695px #000 , 747px 1952px #000 , 527px 828px #000 , 570px 573px #000 , 1308px 266px #000 , 500px 651px #000 , 325px 674px #000 , 1485px 1953px #000 , 414px 1218px #000 , 1679px 79px #000 , 127px 37px #000 , 204px 1599px #000 , 1693px 1559px #000 , 1049px 1766px #000 , 902px 1224px #000 , 678px 1180px #000 , 1315px 113px #000 , 1531px 1748px #000 , 360px 46px #000 , 235px 2000px #000 , 1292px 1344px #000 , 1833px 1756px #000 , 1133px 519px #000 , 544px 68px #000 , 1315px 907px #000 , 63px 1899px #000 , 1455px 976px #000 , 1674px 255px #000 , 210px 363px #000 , 1121px 73px #000 , 1143px 83px #000 , 723px 694px #000 , 1962px 1961px #000 , 442px 727px #000 , 1110px 1394px #000 , 212px 1936px #000 , 1555px 746px #000 , 1618px 1709px #000 , 693px 1086px #000 , 125px 1799px #000 , 1445px 1579px #000 , 1075px 1245px #000 , 1981px 486px #000 , 1477px 1440px #000 , 1906px 678px #000 , 1779px 1905px #000 , 367px 1650px #000 , 849px 1274px #000 , 1189px 1876px #000 , 977px 607px #000 , 1052px 431px #000 , 1237px 869px #000 , 172px 806px #000 , 1466px 1340px #000 , 638px 737px #000 , 5px 1176px #000 , 1164px 1239px #000 , 1112px 229px #000 , 550px 1753px #000 , 826px 850px #000 , 367px 964px #000 , 986px 1820px #000 , 1450px 125px #000 , 1191px 813px #000 , 531px 985px #000 , 1926px 730px #000 , 951px 877px #000 , 322px 1082px #000 , 1001px 663px #000 , 1336px 393px #000 , 1849px 277px #000 , 1361px 1041px #000 , 516px 961px #000 , 834px 1448px #000 , 1554px 1783px #000 , 812px 1520px #000 , 875px 506px #000 , 1866px 1216px #000 , 1024px 962px #000 , 14px 882px #000 , 946px 31px #000 , 593px 1863px #000 , 424px 22px #000 , 1842px 1819px #000 , 1828px 1422px #000 , 1837px 264px #000 , 1207px 660px #000 , 282px 731px #000 , 870px 168px #000 , 1678px 974px #000 , 528px 396px #000 , 1416px 1876px #000 , 966px 1780px #000 , 656px 45px #000 , 1692px 162px #000 , 127px 1219px #000 , 1259px 1145px #000 , 1516px 323px #000 , 494px 1780px #000 , 603px 957px #000 , 1951px 1436px #000 , 712px 476px #000 , 1455px 461px #000 , 1815px 790px #000 , 1587px 643px #000 , 1270px 1487px #000 , 1572px 16px #000 , 1900px 1261px #000 , 197px 528px #000 , 1217px 1942px #000 , 1138px 1386px #000 , 1378px 793px #000 , 95px 1712px #000 , 992px 100px #000 , 400px 1384px #000 , 733px 1837px #000 , 1355px 1317px #000 , 928px 1693px #000 , 117px 303px #000 , 149px 1477px #000 , 335px 982px #000 , 1384px 1273px #000 , 1133px 1030px #000 , 1922px 241px #000 , 1675px 1208px #000 , 1026px 1133px #000 , 669px 451px #000 , 1155px 1871px #000 , 83px 571px #000 , 1952px 1945px #000 , 1069px 561px #000 , 651px 48px #000 , 643px 1670px #000 , 1971px 1569px #000 , 1117px 1824px #000 , 1458px 1932px #000 , 1690px 231px #000 , 955px 15px #000 , 1665px 1871px #000 , 1430px 1708px #000 , 1320px 1552px #000 , 771px 1636px #000 , 335px 1585px #000 , 680px 713px #000 , 619px 154px #000 , 1290px 496px #000 , 1818px 1753px #000 , 1443px 259px #000 , 813px 443px #000 , 1947px 1461px #000 , 1602px 1083px #000 , 15px 1764px #000 , 191px 549px #000 , 722px 1953px #000 , 1605px 1083px #000 , 1247px 98px #000 , 115px 770px #000 , 1668px 1101px #000 , 814px 1222px #000 , 1093px 1328px #000 , 1060px 158px #000 , 1754px 1201px #000 , 1625px 1018px #000 , 314px 23px #000 , 81px 1149px #000 , 1908px 1985px #000 , 1027px 1286px #000 , 615px 1777px #000 , 27px 1249px #000 , 508px 40px #000 , 503px 179px #000 , 1645px 1914px #000 , 1034px 1260px #000 , 1260px 1014px #000 , 542px 1790px #000 , 1407px 322px #000 , 1398px 621px #000 , 284px 336px #000 , 740px 874px #000 , 1801px 963px #000 , 1002px 1416px #000 , 1271px 1679px #000 , 1962px 1343px #000 , 262px 873px #000 , 328px 912px #000 , 399px 85px #000 , 700px 308px #000 , 1335px 896px #000 , 1698px 516px #000 , 675px 1745px #000 , 314px 1288px #000 , 1182px 1774px #000 , 1807px 89px #000 , 852px 587px #000 , 1433px 184px #000 , 1448px 573px #000 , 1514px 1422px #000 , 1025px 370px #000 , 1044px 875px #000 , 538px 1058px #000 , 431px 1815px #000 , 1005px 419px #000 , 1369px 1484px #000 , 1230px 1680px #000 , 1432px 1972px #000 , 1789px 1561px #000 , 528px 267px #000 , 48px 86px #000 , 1715px 1325px #000 , 252px 1168px #000 , 1226px 276px #000 , 306px 1301px #000 , 432px 1694px #000 , 1070px 1818px #000 , 96px 180px #000 , 1565px 442px #000 , 571px 382px #000 , 1181px 1657px #000 , 542px 328px #000 , 540px 216px #000 , 1271px 208px #000 , 383px 1191px #000 , 212px 659px #000 , 347px 380px #000 , 935px 982px #000 , 1565px 627px #000 , 877px 344px #000 , 1428px 1621px #000 , 1183px 1642px #000 , 1628px 1748px #000 , 1557px 641px #000 , 1518px 138px #000 , 36px 88px #000 , 1423px 1861px #000 , 39px 1551px #000 , 1598px 1483px #000 , 1457px 1118px #000 , 432px 1498px #000 , 1383px 467px #000 , 36px 9px #000 , 1531px 305px #000 , 194px 1727px #000 , 1046px 225px #000 , 1334px 1124px #000 , 67px 1346px #000 , 918px 1619px #000 , 1692px 1036px #000 , 1759px 1718px #000 , 722px 865px #000 , 688px 1753px #000 , 17px 1470px #000 , 139px 1407px #000 , 1000px 1477px #000 , 1333px 1706px #000 , 317px 693px #000 , 157px 828px #000 , 1135px 830px #000 , 382px 985px #000 , 1852px 1349px #000 , 386px 278px #000 , 274px 1202px #000 , 227px 1403px #000 , 1783px 569px #000 , 569px 1074px #000 , 553px 571px #000 , 1166px 907px #000 , 196px 1957px #000 , 367px 898px #000 , 1580px 205px #000 , 789px 1696px #000 , 288px 1506px #000 , 401px 1660px #000 , 684px 815px #000 , 835px 722px #000 , 516px 381px #000 , 483px 1989px #000 , 508px 335px #000 , 1423px 389px #000 , 399px 323px #000 , 1167px 1465px #000 , 1324px 20px #000 , 728px 889px #000 , 487px 1546px #000 , 101px 860px #000 , 208px 1495px #000 , 898px 1477px #000 , 750px 232px #000 , 291px 927px #000 , 1232px 1105px #000 , 207px 338px #000 , 1846px 1264px #000 , 1877px 1002px #000 , 1428px 578px #000 , 67px 1859px #000 , 1630px 1286px #000 , 1760px 743px #000 , 1101px 1341px #000 , 747px 229px #000 , 1016px 499px #000 , 1325px 1395px #000 , 1692px 1647px #000 , 1628px 434px #000 , 1745px 1174px #000 , 690px 248px #000 , 1877px 1739px #000 , 1769px 884px #000 , 1479px 375px #000 , 929px 916px #000 , 919px 615px #000 , 1549px 480px #000 , 1516px 694px #000 , 1096px 1297px #000 , 1606px 1747px #000 , 1670px 790px #000 , 1412px 1668px #000 , 285px 422px #000 , 893px 1068px #000 , 1993px 1416px #000 , 1421px 8px #000 , 1991px 487px #000 , 541px 1527px #000 , 944px 889px #000 , 1819px 87px #000 , 1967px 1571px #000 , 1427px 1942px #000 , 1248px 289px #000 , 1117px 1874px #000 , 823px 1740px #000 , 1679px 1216px #000 , 734px 228px #000 , 1908px 1795px #000 , 498px 485px #000 , 1680px 1952px #000 , 1585px 1372px #000 , 68px 1357px #000 , 796px 279px #000 , 727px 1544px #000 , 269px 1133px #000 , 1854px 1727px #000 , 1843px 530px #000 , 1719px 1932px #000 , 46px 1070px #000 , 396px 657px #000 , 374px 1136px #000 , 1336px 1418px #000 , 273px 499px #000 , 1836px 838px #000 , 1567px 328px #000 , 263px 1881px #000 , 1846px 1044px #000 , 303px 1599px #000 , 1335px 585px #000 , 1030px 1141px #000 , 1793px 1337px #000 , 483px 206px #000 , 765px 1462px #000 , 1664px 1126px #000 , 542px 1406px #000 , 1712px 1009px #000 , 1098px 878px #000 , 1995px 1386px #000 , 743px 40px #000 , 1060px 1959px #000 , 1536px 166px #000 , 1955px 1136px #000 , 1318px 142px #000 , 1208px 1798px #000 , 1915px 215px #000 , 1504px 29px #000 , 281px 1502px #000 , 1862px 341px #000 , 50px 1555px #000 , 1892px 426px #000 , 1912px 247px #000 , 669px 1550px #000 , 989px 1866px #000 , 581px 1967px #000 , 1659px 1004px #000 , 558px 896px #000 , 907px 1317px #000 , 277px 1912px #000 , 511px 802px #000 , 1092px 481px #000 , 1174px 1676px #000 , 1404px 735px #000 , 262px 107px #000 , 681px 1223px #000 , 1373px 1418px #000 , 1295px 517px #000 , 85px 1512px #000 , 1644px 479px #000 , 1677px 1607px #000 , 938px 1828px #000 , 625px 229px #000 , 1347px 1659px #000 , 194px 59px #000 , 1861px 336px #000 , 597px 809px #000 , 1828px 552px #000 , 865px 1673px #000 , 1492px 325px #000 , 297px 1651px #000 , 7px 1158px #000 , 1756px 701px #000 , 295px 866px #000 , 1966px 51px #000 , 918px 342px #000 , 547px 1250px #000 , 1260px 1584px #000 , 1763px 1816px #000 , 936px 372px #000 , 220px 1743px #000 , 785px 1850px #000 , 1701px 716px #000 , 1161px 1833px #000 , 1930px 1352px #000 , 518px 1705px #000 , 1619px 1504px #000 , 1707px 1355px #000 , 330px 1905px #000 , 1419px 205px #000;
    }
    
    
    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 427px 392px #000 , 913px 1105px #000 , 1333px 1810px #000 , 1247px 132px #000 , 532px 1148px #000 , 1715px 1155px #000 , 1470px 792px #000 , 942px 1627px #000 , 1303px 869px #000 , 848px 1836px #000 , 1927px 685px #000 , 1648px 1958px #000 , 1024px 1769px #000 , 1970px 224px #000 , 495px 1551px #000 , 1399px 1799px #000 , 1403px 881px #000 , 1537px 794px #000 , 1368px 747px #000 , 375px 148px #000 , 1775px 212px #000 , 1312px 844px #000 , 797px 99px #000 , 430px 684px #000 , 1524px 890px #000 , 739px 1647px #000 , 1181px 1698px #000 , 1627px 943px #000 , 1149px 1104px #000 , 1637px 1969px #000 , 297px 1873px #000 , 82px 170px #000 , 457px 967px #000 , 9px 1057px #000 , 348px 1959px #000 , 1273px 1670px #000 , 1124px 797px #000 , 153px 648px #000 , 185px 5px #000 , 1064px 1789px #000 , 89px 1111px #000 , 31px 1433px #000 , 990px 287px #000 , 1174px 987px #000 , 1525px 1856px #000 , 1032px 865px #000 , 1461px 530px #000 , 1771px 977px #000 , 1460px 1134px #000 , 1658px 1749px #000 , 1593px 1261px #000 , 602px 1436px #000 , 1037px 1184px #000 , 1979px 1912px #000 , 1990px 1331px #000 , 496px 905px #000 , 276px 1204px #000 , 1759px 1146px #000 , 558px 929px #000 , 627px 636px #000 , 941px 485px #000 , 77px 105px #000 , 30px 1080px #000 , 1875px 1833px #000 , 1420px 790px #000 , 483px 1280px #000 , 1815px 363px #000 , 252px 808px #000 , 1078px 834px #000 , 1176px 1873px #000 , 1416px 123px #000 , 1768px 1159px #000 , 1616px 82px #000 , 25px 43px #000 , 1220px 1351px #000 , 1422px 506px #000 , 460px 1596px #000 , 141px 895px #000 , 1526px 521px #000 , 1265px 1150px #000 , 257px 1280px #000 , 679px 1750px #000 , 1435px 231px #000 , 1247px 1032px #000 , 752px 1853px #000 , 828px 1440px #000 , 708px 1810px #000 , 1492px 256px #000 , 1280px 148px #000 , 1658px 1707px #000 , 243px 1183px #000 , 55px 1599px #000 , 461px 635px #000 , 1630px 718px #000 , 1035px 1439px #000 , 452px 278px #000 , 399px 1721px #000 , 435px 1639px #000 , 1252px 1075px #000 , 1237px 1486px #000 , 225px 1865px #000 , 755px 110px #000 , 977px 264px #000 , 429px 1063px #000 , 126px 1479px #000 , 318px 1013px #000 , 57px 430px #000 , 1276px 681px #000 , 592px 638px #000 , 113px 1103px #000 , 1122px 1673px #000 , 1877px 1424px #000 , 727px 119px #000 , 944px 1211px #000 , 507px 1856px #000 , 104px 629px #000 , 1186px 1191px #000 , 1473px 613px #000 , 1902px 1347px #000 , 976px 614px #000 , 1486px 1860px #000 , 1654px 881px #000 , 1728px 1140px #000 , 535px 279px #000 , 1727px 119px #000 , 532px 252px #000 , 1333px 772px #000 , 645px 528px #000 , 435px 259px #000 , 780px 858px #000 , 1261px 1369px #000 , 1199px 207px #000 , 1169px 999px #000 , 1634px 38px #000 , 526px 1523px #000 , 1634px 1316px #000 , 1811px 504px #000 , 606px 338px #000 , 1931px 1105px #000 , 1647px 1622px #000 , 734px 1833px #000 , 868px 733px #000 , 1596px 1832px #000 , 773px 738px #000 , 1919px 508px #000 , 1505px 367px #000 , 271px 479px #000 , 58px 1644px #000 , 332px 713px #000 , 65px 1144px #000 , 1804px 765px #000 , 1959px 613px #000 , 1178px 1120px #000 , 1110px 1477px #000 , 871px 1660px #000 , 660px 374px #000 , 1209px 1490px #000 , 234px 751px #000 , 1544px 869px #000 , 1956px 1987px #000 , 1097px 1546px #000 , 1619px 1856px #000 , 1296px 1980px #000 , 1999px 720px #000 , 1081px 1438px #000 , 1467px 815px #000 , 330px 686px #000 , 730px 261px #000 , 461px 1850px #000 , 1195px 1389px #000 , 887px 1936px #000 , 568px 48px #000 , 454px 620px #000 , 885px 1902px #000 , 16px 1154px #000 , 1716px 1820px #000 , 1075px 1705px #000 , 1703px 1443px #000 , 1633px 1297px #000 , 1111px 710px #000 , 1832px 1076px #000 , 578px 1048px #000 , 1830px 760px #000 , 672px 1938px #000 , 1413px 434px #000 , 1412px 311px #000 , 1486px 1339px #000 , 334px 237px #000 , 1539px 1523px #000 , 470px 1156px #000 , 1257px 1275px #000 , 820px 725px #000 , 64px 1096px #000 , 1133px 679px #000 , 240px 958px #000 , 1360px 344px #000 , 1591px 1083px #000 , 1285px 1861px #000 , 638px 473px #000 , 1949px 1424px #000;
      animation: animStar 100s linear infinite;
    }
    
    
    #stars2:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 427px 392px #000 , 913px 1105px #000 , 1333px 1810px #000 , 1247px 132px #000 , 532px 1148px #000 , 1715px 1155px #000 , 1470px 792px #000 , 942px 1627px #000 , 1303px 869px #000 , 848px 1836px #000 , 1927px 685px #000 , 1648px 1958px #000 , 1024px 1769px #000 , 1970px 224px #000 , 495px 1551px #000 , 1399px 1799px #000 , 1403px 881px #000 , 1537px 794px #000 , 1368px 747px #000 , 375px 148px #000 , 1775px 212px #000 , 1312px 844px #000 , 797px 99px #000 , 430px 684px #000 , 1524px 890px #000 , 739px 1647px #000 , 1181px 1698px #000 , 1627px 943px #000 , 1149px 1104px #000 , 1637px 1969px #000 , 297px 1873px #000 , 82px 170px #000 , 457px 967px #000 , 9px 1057px #000 , 348px 1959px #000 , 1273px 1670px #000 , 1124px 797px #000 , 153px 648px #000 , 185px 5px #000 , 1064px 1789px #000 , 89px 1111px #000 , 31px 1433px #000 , 990px 287px #000 , 1174px 987px #000 , 1525px 1856px #000 , 1032px 865px #000 , 1461px 530px #000 , 1771px 977px #000 , 1460px 1134px #000 , 1658px 1749px #000 , 1593px 1261px #000 , 602px 1436px #000 , 1037px 1184px #000 , 1979px 1912px #000 , 1990px 1331px #000 , 496px 905px #000 , 276px 1204px #000 , 1759px 1146px #000 , 558px 929px #000 , 627px 636px #000 , 941px 485px #000 , 77px 105px #000 , 30px 1080px #000 , 1875px 1833px #000 , 1420px 790px #000 , 483px 1280px #000 , 1815px 363px #000 , 252px 808px #000 , 1078px 834px #000 , 1176px 1873px #000 , 1416px 123px #000 , 1768px 1159px #000 , 1616px 82px #000 , 25px 43px #000 , 1220px 1351px #000 , 1422px 506px #000 , 460px 1596px #000 , 141px 895px #000 , 1526px 521px #000 , 1265px 1150px #000 , 257px 1280px #000 , 679px 1750px #000 , 1435px 231px #000 , 1247px 1032px #000 , 752px 1853px #000 , 828px 1440px #000 , 708px 1810px #000 , 1492px 256px #000 , 1280px 148px #000 , 1658px 1707px #000 , 243px 1183px #000 , 55px 1599px #000 , 461px 635px #000 , 1630px 718px #000 , 1035px 1439px #000 , 452px 278px #000 , 399px 1721px #000 , 435px 1639px #000 , 1252px 1075px #000 , 1237px 1486px #000 , 225px 1865px #000 , 755px 110px #000 , 977px 264px #000 , 429px 1063px #000 , 126px 1479px #000 , 318px 1013px #000 , 57px 430px #000 , 1276px 681px #000 , 592px 638px #000 , 113px 1103px #000 , 1122px 1673px #000 , 1877px 1424px #000 , 727px 119px #000 , 944px 1211px #000 , 507px 1856px #000 , 104px 629px #000 , 1186px 1191px #000 , 1473px 613px #000 , 1902px 1347px #000 , 976px 614px #000 , 1486px 1860px #000 , 1654px 881px #000 , 1728px 1140px #000 , 535px 279px #000 , 1727px 119px #000 , 532px 252px #000 , 1333px 772px #000 , 645px 528px #000 , 435px 259px #000 , 780px 858px #000 , 1261px 1369px #000 , 1199px 207px #000 , 1169px 999px #000 , 1634px 38px #000 , 526px 1523px #000 , 1634px 1316px #000 , 1811px 504px #000 , 606px 338px #000 , 1931px 1105px #000 , 1647px 1622px #000 , 734px 1833px #000 , 868px 733px #000 , 1596px 1832px #000 , 773px 738px #000 , 1919px 508px #000 , 1505px 367px #000 , 271px 479px #000 , 58px 1644px #000 , 332px 713px #000 , 65px 1144px #000 , 1804px 765px #000 , 1959px 613px #000 , 1178px 1120px #000 , 1110px 1477px #000 , 871px 1660px #000 , 660px 374px #000 , 1209px 1490px #000 , 234px 751px #000 , 1544px 869px #000 , 1956px 1987px #000 , 1097px 1546px #000 , 1619px 1856px #000 , 1296px 1980px #000 , 1999px 720px #000 , 1081px 1438px #000 , 1467px 815px #000 , 330px 686px #000 , 730px 261px #000 , 461px 1850px #000 , 1195px 1389px #000 , 887px 1936px #000 , 568px 48px #000 , 454px 620px #000 , 885px 1902px #000 , 16px 1154px #000 , 1716px 1820px #000 , 1075px 1705px #000 , 1703px 1443px #000 , 1633px 1297px #000 , 1111px 710px #000 , 1832px 1076px #000 , 578px 1048px #000 , 1830px 760px #000 , 672px 1938px #000 , 1413px 434px #000 , 1412px 311px #000 , 1486px 1339px #000 , 334px 237px #000 , 1539px 1523px #000 , 470px 1156px #000 , 1257px 1275px #000 , 820px 725px #000 , 64px 1096px #000 , 1133px 679px #000 , 240px 958px #000 , 1360px 344px #000 , 1591px 1083px #000 , 1285px 1861px #000 , 638px 473px #000 , 1949px 1424px #000;
    }
    
    /* line 53, ../../../../../Users/a/Projects/_web/misc/stars/parallax-star-background-in-css/src/style.sass */
    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1617px 1535px #f00 , 1052px 782px #f00 , 752px 523px #f00 , 229px 624px #f00 , 505px 892px #f00 , 1596px 794px #f00 , 1568px 1050px #f00 , 1122px 1367px #f00 , 1459px 1829px #f00 , 187px 784px #f00 , 842px 1929px #f00 , 304px 1182px #f00 , 1469px 964px #f00 , 435px 1878px #f00 , 492px 422px #f00 , 818px 1205px #f00 , 1972px 437px #f00 , 658px 827px #f00 , 868px 1507px #f00 , 964px 1440px #f00 , 1423px 1245px #f00 , 1873px 768px #f00 , 638px 737px #f00 , 516px 1249px #f00 , 1763px 542px #f00 , 1450px 469px #f00 , 771px 780px #f00 , 185px 1119px #f00 , 1244px 5px #f00 , 211px 208px #f00 , 693px 302px #f00 , 726px 822px #f00 , 932px 1729px #f00 , 235px 690px #f00 , 1460px 1445px #f00 , 199px 1018px #f00 , 1894px 1693px #f00 , 466px 758px #f00 , 1588px 159px #f00 , 1035px 1147px #f00 , 14px 827px #f00 , 1351px 1109px #f00 , 1807px 453px #f00 , 935px 902px #f00 , 1481px 1195px #f00 , 126px 1389px #f00 , 686px 1808px #f00 , 656px 141px #f00 , 1227px 1944px #f00 , 1471px 1919px #f00 , 787px 1871px #f00 , 1656px 1097px #f00 , 799px 966px #f00 , 1383px 358px #f00 , 1939px 602px #f00 , 722px 364px #f00 , 1168px 1553px #f00 , 1878px 2px #f00 , 639px 1140px #f00 , 1720px 1116px #f00 , 1206px 1901px #f00 , 222px 696px #f00 , 864px 966px #f00 , 230px 667px #f00 , 1997px 1728px #f00 , 260px 1046px #f00 , 431px 1011px #f00 , 1968px 1607px #f00 , 14px 726px #f00 , 1572px 1584px #f00 , 308px 743px #f00 , 42px 1132px #f00 , 1189px 590px #f00 , 1039px 494px #f00 , 487px 629px #f00 , 1783px 51px #f00 , 1971px 763px #f00 , 671px 737px #f00 , 522px 748px #f00 , 1107px 186px #f00 , 298px 1509px #f00 , 961px 246px #f00 , 582px 737px #f00 , 351px 571px #f00 , 1545px 1412px #f00 , 204px 1651px #f00 , 212px 440px #f00 , 922px 682px #f00 , 1640px 429px #f00 , 1324px 823px #f00 , 1250px 1610px #f00 , 1732px 36px #f00 , 166px 1106px #f00 , 1302px 1115px #f00 , 1562px 1995px #f00 , 551px 1848px #f00 , 463px 44px #f00 , 1224px 697px #f00 , 1997px 1799px #f00 , 11px 782px #f00;
      animation: animStar 150s linear infinite;
    }
    
    /* line 60, ../../../../../Users/a/Projects/_web/misc/stars/parallax-star-background-in-css/src/style.sass */
    #stars3:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1617px 1535px #f00 , 1052px 782px #f00 , 752px 523px #f00 , 229px 624px #f00 , 505px 892px #f00 , 1596px 794px #f00 , 1568px 1050px #f00 , 1122px 1367px #f00 , 1459px 1829px #f00 , 187px 784px #f00 , 842px 1929px #f00 , 304px 1182px #f00 , 1469px 964px #f00 , 435px 1878px #f00 , 492px 422px #f00 , 818px 1205px #f00 , 1972px 437px #f00 , 658px 827px #f00 , 868px 1507px #f00 , 964px 1440px #f00 , 1423px 1245px #f00 , 1873px 768px #f00 , 638px 737px #f00 , 516px 1249px #f00 , 1763px 542px #f00 , 1450px 469px #f00 , 771px 780px #f00 , 185px 1119px #f00 , 1244px 5px #f00 , 211px 208px #f00 , 693px 302px #f00 , 726px 822px #f00 , 932px 1729px #f00 , 235px 690px #f00 , 1460px 1445px #f00 , 199px 1018px #f00 , 1894px 1693px #f00 , 466px 758px #f00 , 1588px 159px #f00 , 1035px 1147px #f00 , 14px 827px #f00 , 1351px 1109px #f00 , 1807px 453px #f00 , 935px 902px #f00 , 1481px 1195px #f00 , 126px 1389px #f00 , 686px 1808px #f00 , 656px 141px #f00 , 1227px 1944px #f00 , 1471px 1919px #f00 , 787px 1871px #f00 , 1656px 1097px #f00 , 799px 966px #f00 , 1383px 358px #f00 , 1939px 602px #f00 , 722px 364px #f00 , 1168px 1553px #f00 , 1878px 2px #f00 , 639px 1140px #f00 , 1720px 1116px #f00 , 1206px 1901px #f00 , 222px 696px #f00 , 864px 966px #f00 , 230px 667px #f00 , 1997px 1728px #f00 , 260px 1046px #f00 , 431px 1011px #f00 , 1968px 1607px #f00 , 14px 726px #f00 , 1572px 1584px #f00 , 308px 743px #f00 , 42px 1132px #f00 , 1189px 590px #f00 , 1039px 494px #f00 , 487px 629px #f00 , 1783px 51px #f00 , 1971px 763px #f00 , 671px 737px #f00 , 522px 748px #f00 , 1107px 186px #f00 , 298px 1509px #f00 , 961px 246px #f00 , 582px 737px #f00 , 351px 571px #f00 , 1545px 1412px #f00 , 204px 1651px #f00 , 212px 440px #f00 , 922px 682px #f00 , 1640px 429px #f00 , 1324px 823px #f00 , 1250px 1610px #f00 , 1732px 36px #f00 , 166px 1106px #f00 , 1302px 1115px #f00 , 1562px 1995px #f00 , 551px 1848px #f00 , 463px 44px #f00 , 1224px 697px #f00 , 1997px 1799px #f00 , 11px 782px #f00;
    }

    
    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2000px);
      }
    }
    
    /*# sourceMappingURL=style.css.map */








.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
